
@import '../variables.scss';

div.measure.highlighted {
    border: 1px solid rgba(0,0,0,0.5);
    @include border-radius(3px, 3px);
    @include box-shadow(0 0 20px #000000);
    
}

div.measure span {
    padding: 1px 4px;
    z-index: 1;
    @include border-radius(4px, 4px);
    @include background(linear-gradient(top,rgba(0,0,0,0.25),rgba(0,0,0,0.55)));
}

div.facsContEvents {
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position:absolute;
}

div.facsContEvents.hiddenShapes div {
    display: none;
}

.annotation {
	/*Describes the icons and rendering of annotations on facsimile pages*/
	
	.annotIcon {
		width: 20px;
		height: 16px;
		border:  1px solid #666666;
		@include border-radius(3px, 3px);
		@include box-shadow(0 2px 4px #000000);
		z-index: 1;
	}
	
	&.highlighted {
		@include border-radius(3px, 3px);
		@include box-shadow(0 0 20px rgba(0,0,0,0.5));
	}
	
	&.ediromAnnotPrio1 .annotIcon {
		@include background(linear-gradient(top,rgba(255,48,25,0.85) 0%, rgba(207,4,4,0.85) 100%));
	}
	
	&.ediromAnnotPrio2 .annotIcon {
		@include background(linear-gradient(top,rgba(255,233,91,0.85) 0%, rgba(255,107,15,0.85) 100%));
	}
	
	&.ediromAnnotPrio3 .annotIcon {
		@include background(linear-gradient(top,rgba(254,252,234,0.85) 0%, rgba(241,218,54,0.85) 100%));
	}
	
}
/*

div.annotation.highlighted {
    border-radius: 3px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.annotation.ediromAnnotPrio1 .annotIcon {
    background: -moz-linear-gradient(top, rgba(255,48,25,0.9) 0%, rgba(207,4,4,0.9) 100%);
}

.annotation.ediromAnnotPrio2 .annotIcon {
    background: -moz-linear-gradient(top, rgba(255,168,76,0.9) 0%, rgba(255,123,13,0.9) 100%);
}

.annotation.ediromAnnotPrio3 .annotIcon {
    background: -moz-linear-gradient(top, rgba(254,252,234,0.9) 0%, rgba(241,218,54,0.9) 100%);
}
*/