@import '../variables.scss';

$titleBox_bg: #e5e5e5;

.summaryViewSource {
	margin: 10px 10px 60px;
	
	h1 {
		font-family: $content_baseFont;
		font-size: $content_baseFont_size * 1.6;			
		margin: 10px 0 30px;
		padding: 5px;
		text-align: center;
		
		@if $headerBackgroundsBoxed == true {
			border: 1px solid #666666;
			@include border-radius(5px,5px);
			@include box-shadow();
			@include background(linear-gradient(top, $headerBackgroundsTopColor, $headerBackgroundsBottomColor));
		}
	}
	
	.metaData {
		
		font-family: $content_baseFont;
		font-size: $content_baseFont_size;
		width: 50%;
		float:right;
		padding: 0 10px;
		
		div.metaRow {
			margin-bottom: 10px;
		}
		
		div.work {
			padding-left: 5px;
		}
		
		div .key {
			
			font-family: $label_baseFont;
			font-size: $label_baseFont_size;
			line-height: $content_baseFont_size * 1.4;

			margin-right: 0;
			width: 80px;
			text-align: right;
			color: #666666;
			float: left;
			clear: both;
		}
		
		div .value {
			margin-left: 85px;
			line-height: $content_baseFont_size * 1.4;
		}
		
	}
	
	.titlePage {
		float: left;
		width: 50%;
		
		img {
			width: 100%;
			@include box-shadow(0 3px 5px #000000);
		}
	}
	
		
}
