@import '_variables.scss';

/***Taskbar Buttons***/


#ediromTaskbar {
	@include background(linear-gradient(top, #7d7e7d,#0e0e0e));


	.x-toolbar-item {
		border: none !important;
		border-right: 1px solid #333333;
		background: none;
	}
	/*
	.x-btn-default-toolbar-small-over {
		background-color: rgba(255,255,255,0.2) !important;
	}
	
	.x-btn-default-toolbar-small {
		padding: 1px !important;
		height: 20px !important;
		
		border: none;
		
		button {
			line-height: 13px !important;
		}
	}
	*/
	.x-btn-inner {
		color: #ffffff !important;
	}
	
	.over .x-btn-inner {
		color: #333333 !important;
	}
	
	
	/***Window Icons***/
	.taskbarWindowButton {
		.x-btn-inner {
			color: #b5b5b5 !important;
			padding: 0px 10px;
		}
		
		@include box-shadow(0px 1px 1px rgba(0,0,0,0.4) inset);
		@include border-radius(3px);
	}
	
	.taskbarWindowButton.x-btn-default-toolbar-small-over {
		background-color: transparent !important;
		@include background(linear-gradient(top,rgba(255,255,255,0.1),rgba(0,0,0,0)));
	}
	
	.taskbarWindowButton.x-btn-default-toolbar-small-pressed {
		.x-btn-inner {
			color: #ffffff !important;
		}
		background-color: rgba(255,255,255,0.05);
		@include box-shadow(0 -1px 0 rgba(100, 100, 100, 0.7) inset, 0 0 1px #000000 inset);
	}
	
	.taskbarWindowButton.x-btn-default-toolbar-small-pressed.x-btn-default-toolbar-small-over {
		background-color: rgba(255,255,255,0.08) !important;
	}
}

.taskSquareButton {
	width: 24px;
	height: 24px;
	padding: 0px;
	
	&.grid {
		@include background(url('../pix/arrangeButtons.png') no-repeat scroll 0 0 transparent !important);
	}
	
	&.grid.over {
		@include background(url('../pix/arrangeButtons.png') no-repeat scroll 0 -24px transparent !important);
	}
	
	&.vertical {
		@include background(url('../pix/arrangeButtons.png') no-repeat scroll -24px 0 transparent !important);
	}
	
	&.vertical.over {
		@include background(url('../pix/arrangeButtons.png') no-repeat scroll -24px -24px transparent !important);
	}
	
	&.horizontal {
		@include background(url('../pix/arrangeButtons.png') no-repeat scroll -48px 0 transparent !important);
	}
	
	&.horizontal.over {
		@include background(url('../pix/arrangeButtons.png') no-repeat scroll -48px -24px transparent !important);
	}
	
	&.desktop {
		@include background(url('../pix/workspace-switcher.png') no-repeat scroll 0 0 transparent !important);
	}
	
	&.desktop.over {
		@include background(url('../pix/workspace-switcher.png') no-repeat scroll 0 -24px transparent !important);
	}
	
	&.concordance {
		@include background(url('../pix/concordanceNavigator.png') no-repeat scroll 0 0 transparent !important);
	}
	
	&.concordance.over {
		@include background(url('../pix/concordanceNavigator.png') no-repeat scroll 0 -24px transparent !important);
	}
	
	&.measureNumbers {
		@include background(url('../pix/measureNumbers.png') no-repeat scroll 0 0 transparent !important);
	}
	
	&.measureNumbers.over {
		@include background(url('../pix/measureNumbers.png') no-repeat scroll 0 -24px transparent !important);
	}
	
	&.annotations {
		@include background(url('../pix/annotations.png') no-repeat scroll 0 0 transparent !important);
	}
	
	&.annotations.over {
		@include background(url('../pix/annotations.png') no-repeat scroll 0 -24px transparent !important);
	}
	
	&.help {
		@include background(url('../pix/help.png') no-repeat scroll 0 0 transparent !important);
	}
	
	&.help.over {
		@include background(url('../pix/help.png') no-repeat scroll 0 -24px transparent !important);
	}
	
	&.pref {
		@include background(url('../pix/pref.png') no-repeat scroll 0 0 transparent !important);
	}
	
	&.pref.over {
		@include background(url('../pix/pref.png') no-repeat scroll 0 -24px transparent !important);
	}
	
	&.search {
		@include background(url('../pix/search.png') no-repeat scroll 0 0 transparent !important);
	}
	
	&.search.over {
		@include background(url('../pix/search.png') no-repeat scroll 0 -24px transparent !important);
	}
	
	&.home {
		@include background(url('../pix/go-home.png') no-repeat scroll 0 0 transparent !important);
	}
	
	&.home.over {
		@include background(url('../pix/go-home.png') no-repeat scroll 0 -24px transparent !important);
	}
	
	
}

#sortGridButton button {
	background-image: url('../pix/arrangeButtons.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 24px;
	height: 24px;
	&:hover, &:active {
		background-position: 0 -24px;
	}
}

#sortVerticallyButton button {
	background-image: url('../pix/arrangeButtons.png');
	background-repeat: no-repeat;
	background-position: -24px 0;
	width: 24px;
	height: 24px;	
	&:hover, &:active {
		background-position: -24px -24px;
	}
}

#sortHorizontallyButton button {
	background-image: url('../pix/arrangeButtons.png');
	background-repeat: no-repeat;
	background-position: -48px 0;
	width: 24px;
	height: 24px;	
	&:hover, &:active {
		background-position: -48px -24px;
	}
}

#taskbarConcordanceBtn {

	
	
}
