$grid-advanced-grouped-title-font-size: dynamic($font-size);
$grid-advanced-grouped-header-padding: dynamic(8px 10px 9px);
$grid-advanced-grouped-header-background-color: dynamic(#fff);
$grid-advanced-grouped-title-glyph-color: dynamic($neutral-dark-color);
$grid-advanced-grouped-icon-padding: dynamic(0 0 0 24px);
