$window-base-color: #cccccc;
$panel-base-color: #cccccc;
$panel-header-color: #000000;
$window-header-color: #000000;
$panel-header-background-gradient: 'bevel';
$window-header-background-gradient: 'bevel';
$panel-header-padding: 1px;
$window-header-padding: 1px;
$panel-header-icon-width: 0;
$panel-header-icon-spacing: 0;
$window-ghost-opacity: 0.95;

$button-default-color: #000000;

.ediromDesktop .ux-wallpaper {
	@include background-image(radial-gradient(center 70% , rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)), linear-gradient(center top , #586E75, #839496) !important);
	//background-color: black !important;
}

#navigator {
	border-radius: 0 0 0 8px;
	border-top: none;
	border-right: none;
	padding: 10px 2px 2px 10px;
	
	box-shadow: 0 1px 1px #000000, 1px 1px 1px #666666 inset;
	
	$navigatorColor: #000000;
	
	#navigator-body {
		overflow: auto;
	}
	
	.navigatorCategory {
		margin-bottom: 10px;
	}
	
	.navigatorCategoryTitle {
		color: lighten($navigatorColor,30%);
		size: 90%;
		font-variant: small-caps;
		cursor: default;
		padding: 0 0 2px;
	}
	
	.navigatorItem {
		color: $navigatorColor;
		cursor: pointer;
		padding: 0 0 2px 10px;
	}
}

.ediromWindow {

	box-shadow: 0 3px 10px #000000;
	
	.x-window-header {
		@include background-image(linear-gradient(top, lighten($window-base-color, 10%), $window-base-color));
		border: none;
		padding: 6px;
		
		.x-tool-img {
			background-color: transparent;
			background-image: url("images/tools/tool-sprites-dark.png");
		}
	}
	
	&.ux-desktop-inactive-win .x-window-header {
		@include background-image(linear-gradient(top, darken($window-base-color, 20%), $window-base-color));
		
		.x-tool-img {
			background-image: url("images/tools/tool-sprites.png");
		}
	}
	
	.x-toolbar.topBar {
		/*@include background-image(linear-gradient(top, lighten($base-color, 5%), darken($base-color, 45%)));*/
		/*background-color: $window-base-color;*/
		background: none repeat scroll 0 0 $window-base-color;
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0;
		border-top: 1px solid darken($window-base-color,5%) !important;
		
		.x-btn-default-toolbar-small .x-btn-arrow {
    		background-image: url("images/button/default-toolbar-small-arrow_black.png");
		} 
		
		.menuButton {
			background-color: transparent;
			background: none;
			padding-left: 0;
			border: none;
			
			.x-btn-inner {
				padding-left: 0;
			}

		}
	}
	
	.x-panel-body {
		border: none;
		overflow: auto;
	}
	
	.x-toolbar.bottomBar {
		background: none repeat scroll 0 0 $window-base-color;
		padding-left: 0;
		
	}
}

.gotoDialogue {

	height: 101px !important;
	box-shadow: 0 3px 10px #000000;
	
	.x-window-header {
		/* @include background-image(linear-gradient(top, lighten($window-base-color, 10%), $window-base-color)); */
		background-color: $window-base-color;
		border: none;
		padding: 6px;
		
		.x-tool-img {
			background-color: transparent;
			background-image: url("images/tools/tool-sprites-dark.png");
		}
	}
	
	&.ux-desktop-inactive-win .x-window-header {
		@include background-image(linear-gradient(top, darken($window-base-color, 20%), $window-base-color));
		
		.x-tool-img {
			background-image: url("images/tools/tool-sprites.png");
		}
	}
	
	.x-window-body {
		box-shadow: 0 1px 2px #333333 inset;
		@include background-image(linear-gradient-bevel(top,darken(#ffffff,5%)));
		padding: 4px 0;
	}
	
}

.ediromConcordanceNavigatorWindow {
	
	background-color: #cccccc;
	
	.x-window-body {
		box-shadow: 0 1px 2px #333333 inset;
		@include background-image(linear-gradient-bevel(top,darken(#ffffff,5%)));
		@include border-radius(5px);
	}

	.x-window-body > span > div:first-child > div:first-child {
// 		display: none;		
	}
	
	.x-btn-default-small {
		@include background-image(linear-gradient-bevel(top,darken($window-base-color,20%)));
		
		.x-btn-inner {
			line-height: 19px;
		}
		
		.x-btn-arrow {
			background-image: url("images/button/default-toolbar-small-arrow_black.png");
		}
	}
	
	.x-btn-default-small-over {
		border-color: #c4c4c4;
	}
}
