body {
    padding: 40px 0;
    overflow: hidden;
}

.ee_mainContainer {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 40px;
    left: 0;
    overflow: hidden;
}

.ee_sidenavContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    overflow-y: auto;
    background-image: -moz-linear-gradient(left, #eeeeee, #dddddd);
    border-right: 1px solid #666666;
    padding: 20px;
    float: left;
}

.ee_sidenavContainer.compressed {
    left: -273px;
    background-image:  url(../pix/go-last.png), -moz-linear-gradient(left, #eeeeee, #dddddd);
    overflow: hidden;
    background-position: right center;
    background-repeat: no-repeat;
}

.ee_contentContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 300px;
    right: 0;
    overflow-y: auto;
    padding: 20px;
}

.ee_sidenavContainer.compressed + .ee_contentContainer {
    left: 27px;
}

.contentMax {
    position: absolute;
    top: 80px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

.sidenav ul.nav {
    margin-bottom: 20px;
}

.sidenav .active a{
    background-image: -moz-linear-gradient(left,#5588ff,#3366dd);
    border-radius: 5px;
}

.sidenav .nav-header {
    font-size: 14px;
    padding-left: 0px;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
}

.sidenav .nav li + .nav-header {
    margin-top: 16px;
}

.sidenav .nav li + .nav-header.space-above {
    margin-top: 40px;
}
