services:
  edirom-online-backend:
    container_name: eXist-db
    build:
      # location and name of backend Dockerfile
      context: ./backend   
      dockerfile: Dockerfile
      args:
        SOURCE: ${BE_REPO:-https://github.com/Edirom/Edirom-Online-Backend.git}
        BRANCH: ${BE_BRANCH:-v1.2.0}
        EDITION: ${EDITION_XAR}
    ports:
      # expose eXist-db
      - "${BE_PORT:-8080}:8080"
  edirom-online-frontend:
    container_name: nginx
    build:
      # location and name of frontend
      context: ./frontend
      dockerfile: Dockerfile
      args:
        SOURCE: ${FE_REPO:-https://github.com/Edirom/Edirom-Online-Frontend.git}
        BRANCH: ${FE_BRANCH:-v1.2.0}
        # Backend port for frontend configuration
        BE_PORT: ${BE_PORT:-8080}
    ports:
      # expose nginx
      - "${FE_PORT:-8089}:80"
