// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file
$include-default: false;

@import '_variables.scss';

/***Defaults***/
/*
$base-color: #666666;
$neutral-color: #eeeeee; 

$font-family: 'Open Sans','Inconsolata', 'Courier New', Courier, sans-serif;
$font-size: 14px;
*/

$font-family: $ui_baseFont;
$font-size: $ui_baseFont_size;

$theme-name: 'gray';

/***UI Fonts***/
/*
$ui_baseFont: $font-family;
$ui_baseFont_size: 14px;
$ui_baseFont_color: #ffffff;
$ui_baseFont_contrast: #999999;
*/
/***Content Fonts***/
/*
$content_baseFont: 'Caudex', Arial, sans-serif;
$content_baseFont_size: 14px;
$content_baseFont_color: #000000;
$content_baseFont_contrast: #999999;
*/

/***Tooltips***/

$tip-base-color: lighten($base-color, 25%);

/***Toolbars***/

$toolbar-text-color: $ui_baseFont_color;
$toolbar-text-font-family: $ui_baseFont;
$toolbar-text-font-size: $ui_baseFont_size;
$toolbar-text-padding: 1px 4px 0px 4px;
$toolbar-text-line-height: 13px;

$toolbar-separator-color: $ui_baseFont_contrast;

$button-toolbar-base-color: adjust-color($base-color, $hue: 0deg, $saturation: -55.556%, $lightness: 3.333%);
$button-default-base-color-over: lighten($base-color,15%);

$button-default-background-color-over: rgba(0, 0, 0, 0.15);
$button-toolbar-background-color-over: rgba(0, 0, 0, 0.15);/*adjust-color($base-color, $hue: 0deg, $saturation: 44.444%, $lightness: 8.824%);*/


/***Panels and Windows – Defaults***/
$window-border-color: adjust-color($base-color, $hue: 0deg, $saturation: 0%, $lightness: -13.725%);
$window-body-border-color: adjust-color($base-color, $hue: 0deg, $saturation: 0%, $lightness: -8.627%);
$window-background-color: adjust-color($base-color, $hue: 0deg, $saturation: 0%, $lightness: 1.569%);
$window-inner-border-color: adjust-color($base-color, $hue: 0deg, $saturation: 0%, $lightness: 11.373%);
$window-header-padding: 2px 5px 0px;
$window-body-background-color: #ffffff;
$window-border-radius: 3px 3px;

$css-shadow-background-color: #000000;


/***Menu***/

$menu-link-padding: 2px 2px 2px 30px;
$menu-item-indent: 24px;


/***Misc***/

.x-window-header-text-default {
	position: relative;
	top: -2px;
}

/********/

@import 'ext4/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include extjs-boundlist;
@include extjs-button;
@include extjs-btn-group;
//@include extjs-datepicker;
//@include extjs-colorpicker;
@include extjs-menu;
@include extjs-grid;
@include extjs-form;
    @include extjs-form-field;
    @include extjs-form-fieldset;
    @include extjs-form-file;
    @include extjs-form-checkboxfield;
    @include extjs-form-checkboxgroup;
    @include extjs-form-triggerfield;
    @include extjs-form-htmleditor;
@include extjs-panel;
@include extjs-qtip;
@include extjs-slider;
@include extjs-progress;
@include extjs-toolbar;
@include extjs-window;
@include extjs-messagebox;
@include extjs-tabbar;
@include extjs-tab;
@include extjs-tree;
@include extjs-drawcomponent;
@include extjs-viewport;








// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true