$base-color: #e5e5e5 !default;
$color: #333333 !default;
$font-family: 'PT Sans','Open Sans','Courier New','Helvetica Neue',Helvetica,'Myriad Pro',ScalaSans,Arial,sans-serif !default;

.textCentered {
	text-align: center;
}

.borderless {
	border: none;
	background-color: transparent;
}