@import '_variables.scss';

.x-window-default {
	
	@include box-shadow();

}

/***ediromConcordanceNavigator***/

.ediromConcordanceNavigatorWindow {
	.x-tool-minimize {
		position: relative;
		top: -1px;
	}	
		
	.x-window-header-text-default {
	    margin-left: 20px;
	}
		
	.x-window-body {
		@include background(linear-gradient(top,#ffffff,#e5e5e5));
		top: 21px !important;
		height: inherit !important;
		
		.x-btn {
			@include background(linear-gradient(center top , #f5f5f5, #eeeeee 4px, #dddddd 17px, #cccccc));
			border-color: #777777;
		}
		
		label {
			font-family: $label_baseFont;
			font-size: $label_baseFont_size;
		}
	}
	
}

/*
.ediromConcordanceNavigator {
	background-color: lighten($base-color, 30%) !important;
	@include border-radius(3px, 3px);
	
	.x-window-header {
		@include background(linear-gradient(top, #666666,#333333 12px, #bbbbbb 12px, #a0a0a0 16px, #888888 29px, #444444));
		height: 31px;
		border-bottom: 1px solid #555555;
		
		.x-box-inner {
			height: 28px;
			
			.x-window-header-text-container {
				top: 9px !important;
				height: 19px;
				
				
				.x-window-header-text {
					display: inline-block;
					//TODO: @include inline-block
					padding: 0px 6px;
					border-right: 1px solid #555555;
					font-size: $ui_baseFont_size * 0.8;
					@include background(linear-gradient(top, #e5e5e5, #cccccc));
					position: relative;
					top: -1px;
				}
				
			}
		}
	}
	
	.x-window-body {
		@include background(linear-gradient(top,#cccccc,#999999));
		top: 30px !important;
		
		label {
			font-family: $label_baseFont;
			font-size: $label_baseFont_size;
		}
	
		.x-btn {
			@include background(linear-gradient(center top , #f5f5f5, #eeeeee 4px, #dddddd 17px, #cccccc));
			border-color: #777777;
		}
		
	}
	
	
	
	.x-tool-default {
		position:relative;
		top: -6px !important;
		margin-left: 2px;
	}
	
	.x-tool-close {
		background-image: url('../pix/windowButtons.png');
		background-repeat: no-repeat;
		background-position: -18px 0;
		width: 9px;
		height: 9px;
		
		&:hover, &:active {
			background-position: -18px -9px;
		}
	}
	
	.x-tool-minimize {
		background-image: url('../pix/windowButtons.png');
		background-repeat: no-repeat;
		background-position: -9px 0;
		width: 9px;
		height: 9px;
		margin-left: -2px;
				
		&:hover, &:active {
			background-position: -9px -9px;
		}
	}
	
	.x-window-header-text-default {
		color: #000000 !important;
		font-weight: normal;
	}

	.x-window-header-default-top {
		padding: 2px 5px 0px 1px !important;
	}
	
	.borderless {
		border: none;
	    background: none;
	}
	
	.textCentered {
		text-align: center;
	}

}	*/