@import '_variables.scss';


.x-menu {

	@include border-radius(3px);
	
	.x-menu-body {
		@include border-radius(3px);
	}
	
	.x-menu-item-active .x-menu-item-link {
		@include background(linear-gradient(top, lighten(#ffd538,10%), lighten(#f07822,10%)));
		border-color: darken(#ffd538,15%);
	}
	
	.x-menu-item-icon {
		top: 3px !important;
	}
	
	.x-menu-item-checked .x-menu-group-icon {
		background-image: url('../pix/menu_activeItem.png');
		background-repeat: no-repeat;
	}
	
}

.menuButton {

	/*
		height: 18px !important;
		top: 1px !important;
		padding: 0px 4px !important;
		border-color: lighten($base-color, 15%) !important;
		margin: 0px 2px !important;
		
		@include background(linear-gradient(top, #eeeeee, #cccccc 9px, #888888));
		@include box-shadow(inset 0px 1px 2px #ffffff);		
	*/
	
	padding: 1px !important;
	height: 21px !important;
			
	button {
		height: 15px !important;
		.x-btn-inner {
			line-height: 11px !important;
		}
		&:hover {
			color: #ffffff !important;
		}
	}

	.x-btn-inner {
		color: #333333 !important;
		font-size: $ui_baseFont_size * 0.8;
	}
	
	&.x-btn-default-toolbar-small-over {
		@include background(linear-gradient(top, #eeeeee, #cccccc 9px, #888888));
		@include box-shadow(inset 0px 1px 2px #ffffff);
	}
	
	&.x-btn-default-toolbar-small-menu-active, .x-btn-default-toolbar-small-pressed {
		@include background(linear-gradient(top, #eeeeee, #cccccc 9px, #888888));
		@include box-shadow(inset 0px 1px 3px #333333);
	}
	
	&.x-btn-default-toolbar-small-focus {
		@include background(linear-gradient(top, rgba(255, 224, 107, 0.85), rgba(243, 149, 82, 0.85)));
			}
	
	.x-btn-default-small {
		
	}
}

/*** menubar in object windows ***/
.topBar {
	@include background(linear-gradient(top, #cccccc, #b5b5b5));
}