@import '_variables.scss';

.x-window-default {
	
	@include box-shadow();

}

/***ediromWindow***/

.ediromWindow, .x-window-ghost {
	background-color: lighten($base-color, 30%) !important;
	@include border-radius(3px, 3px);
	
	/*** tabbed title ***/
	/*.x-window-header {
		@include background(linear-gradient(top, #666666,#333333 12px, #bbbbbb 12px, #a0a0a0 16px, #888888 29px, #444444));
		height: 31px;
		border-bottom: 1px solid #555555;
		
		.x-box-inner {
			height: 28px;
			
			.x-window-header-text-container {
				top: 9px !important;
				height: 19px;
				
				
				.x-window-header-text {
					display: inline-block;
					//TODO: @include inline-block
					padding: 0px 6px;
					border-right: 1px solid #555555;
					
					@include background(linear-gradient(top, #e5e5e5, #cccccc));
				}
				
			}
		}
	}
	*/
	
	.x-window-header {
		@include background(linear-gradient(top, #666666, #333333));
	}
	
	.x-window-header-text-default {
		color: #ffffff !important;
		font-weight: lighter;
		@include text-shadow(#cccccc 0 1px 2px);
		text-align: center;
	}

	.x-window-header-default-top {
		padding: 2px 5px 0px 1px !important;
	}
	
	/*TODO: highlight active header
	 * a bug in firefox seems to prevent the following css:
	 */ .ux-desktop-active-win .x-window-header {
	 		@include background(linear-gradient(top, lighten(#ffd538,10%), lighten(#f07822,10%) 80%, lighten($base-color, 30%)));
	  }
	 
	/*
	.x-tool-default {
		position:relative;
		top: -6px !important;
		margin-left: 2px;
	}
	*/
	.x-tool-close {
		background-image: url('../pix/windowButtons.png');
		background-repeat: no-repeat;
		background-position: -32px 0;
		width: 16px;
		height: 16px;
		position: relative;
		top: -1px;
		
		&:hover, &:active {
			background-position: -32px -16px;
		}
	}
	
	.x-tool-maximize {
		background-image: url('../pix/windowButtons.png');
		background-repeat: no-repeat;
		background-position: -16px 0;
		width: 16px;
		height: 16px;
		position: relative;
		top: -1px;
		
		&:hover, &:active {
			background-position: -16px -16px;
		}
	}
	
	.x-tool-restore {
		background-image: url('../pix/windowButtons.png');
		background-repeat: no-repeat;
		background-position: -48px 0;
		width: 16px;
		height: 16px;
		position: relative;
		top: -1px;
		
		&:hover, &:active {
			background-position: -48px -16px;
		}
	}
	
	.x-tool-minimize {
		background-image: url('../pix/windowButtons.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 16px;
		height: 16px;
		position: relative;
		top: -1px;
				
		&:hover, &:active {
			background-position: 0 -16px;
		}
	}
	
	.x-toolbar {
		padding: 1px 0px 2px 1px;
	}
	
	div.headerViewContent {
		top:0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		position:absolute;
		overflow:auto;
		padding:5px;
	}
	
	div.textViewContent {
		top:0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		position:absolute;
		overflow:auto;
		padding:5px;
	}
	
	div.summaryViewContent {
		top:0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		position:absolute;
		overflow:auto;
		padding:5px;
	}
	
	div.annotationViewContent {
		top:0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		position:absolute;
		overflow:auto;
		padding:5px;
	}
	
	.renderingViewContent {
		top:0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		position:absolute;
		overflow:auto;
		padding:5px;
	}
	
	.searchViewContent {
		top:0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		position:absolute;
		overflow:auto;
		padding:5px;
	}

	
}

.gotoDialogue {
	.x-window-header {
		@include background(linear-gradient(top, #666666, #333333));
	}
	
	.x-window-header-text-default {
		color: #ffffff !important;
		font-weight: lighter;
		@include text-shadow(#cccccc 0 1px 2px);
		text-align: center;
	}

	.x-window-header-default-top {
		padding: 2px 5px 0px 1px !important;
	}
	
	.x-tool-close {
		background-image: url('../pix/windowButtons.png');
		background-repeat: no-repeat;
		background-position: -32px 0;
		width: 16px;
		height: 16px;
		position: relative;
		top: -1px;
		
		&:hover, &:active {
			background-position: -32px -16px;
		}
	}
	
	.x-window-body {
		@include background(linear-gradient(top,#ffffff,#e5e5e5));
	}
	
	.x-toolbar-footer {
		@include background(linear-gradient(#e5e5e5, #d5d5d5));
		
		.x-btn-default-small {
			padding: 0 !important;
			
			.x-btn-inner {
				font-size: $ui_baseFont_size*0.9;
			}
		}
	}
}

