.ediromWindow {

	.facsContEvents {
   		bottom: 0;
   		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}	
	
	.measureInner {
 		background-color: rgba(255, 255, 255, 0.5); 
		border-radius: 15px;
		padding: 3px 5px 0;
    	text-shadow: 0 1px 2px #000000, 0 0 5px #ffffff;
    	top: 50%;
    	@include background-image(radial-gradient(center , rgba(100, 100, 100, 0.3), rgba(0, 0, 0, 0) 5px));
	}
	
	.measure.highlighted {
		 box-shadow: 0 0 4px rgba(0, 0, 0, 0.6) inset;
	}
		
	.x-panel-body[id^="sourceView"] > .x-panel {
		border: 1px solid #333333;
	}
	
	.pageInputBox input {
		text-align: center;
	}
	
	.annotation {
	/*Describes the icons and rendering of annotations on facsimile pages*/
	
		.annotIcon {
			width: 20px;
			height: 16px;
			border:  1px solid #666666;
			@include border-radius(3px, 3px);
			@include box-shadow(0 2px 4px #000000);
			z-index: 1;
		}
		
		&.highlighted {
			@include border-radius(3px, 3px);
			@include box-shadow(0 0 20px rgba(0,0,0,0.5));
		}
		
		.annotIcon.ediromAnnotPrio1 {
			@include background(linear-gradient(top,rgba(255,48,25,0.85) 0%, rgba(207,4,4,0.85) 100%));
		}
		
		.annotIcon.ediromAnnotPrio2 {
			@include background(linear-gradient(top,rgba(255,233,91,0.85) 0%, rgba(255,107,15,0.85) 100%));
		}
		
		.annotIcon.ediromAnnotPrio3 {
			@include background(linear-gradient(top,rgba(254,252,234,0.85) 0%, rgba(241,218,54,0.85) 100%));
		}
		
	}
	
/*	From Freischütz
.annotation.ediromAnnotPrio1 .annotIcon {
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom , rgba(255, 48, 25, 0.85) 0%, rgba(207, 4, 4, 0.85) 100%) repeat scroll 0 0;
    }
    
    .annotation.ediromAnnotPrio2 .annotIcon {
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom , rgba(255, 233, 91, 0.85) 0%, rgba(255, 107, 15, 0.85) 100%) repeat scroll 0 0;
    }
    
    .annotation.ediromAnnotPrio3 .annotIcon {
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom , rgba(254, 252, 234, 0.85) 0%, rgba(241, 218, 54, 0.85) 100%) repeat scroll 0 0;
    }
    
    .annotation .annotIcon {
        border: 1px solid #666666;
        border-radius: 3px;
        box-shadow: 0 2px 4px #000;
        height: 16px;
        width: 20px;
        z-index: 1;
    }*/
	
}