#ediromToolbar {
    background-color: #DFDFDF;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#c8c8c8));
    background-image: -webkit-linear-gradient(top, #eeeeee, #c8c8c8);
    background-image:    -moz-linear-gradient(top, #eeeeee, #c8c8c8);
    background-image:      -o-linear-gradient(top, #eeeeee, #c8c8c8);
    background-image:         linear-gradient(to bottom, #eeeeee, #c8c8c8);

    background-repeat: repeat-x;
    min-height: 40px;
    z-index: 12000;
    
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

#homeBtn {
    background-image: url("/exist/apps/Website/resources/pix/Logo_microInset.png") !important;
    background-repeat: no-repeat;
    background-position: 0 0 !important;
    padding: 0px;
    margin-left: 5px;
    
}

#homeBtn:hover {
    background-position: 0 -20px !important;
}

.ediromDesktop.x-panel-body-default {
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d5d5d5));
    background-image: -webkit-linear-gradient(top, #ffffff, #d5d5d5);
    background-image:    -moz-linear-gradient(top, #ffffff, #d5d5d5);
    background-image:      -o-linear-gradient(top, #ffffff, #d5d5d5);
    background-image:         linear-gradient(to bottom, #ffffff, #d5d5d5);
}

div.measure span {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(200, 200, 200, 0.75)), to(rgba(0, 0, 0, 0.55)));
    background-image: -webkit-linear-gradient(top , rgba(200, 200, 200, 0.75), rgba(0, 0, 0, 0.55));
    background-image:    -moz-linear-gradient(top , rgba(200, 200, 200, 0.75), rgba(0, 0, 0, 0.55));
    background-image:      -o-linear-gradient(top , rgba(200, 200, 200, 0.75), rgba(0, 0, 0, 0.55));
    background-image:         linear-gradient(top , rgba(200, 200, 200, 0.75), rgba(0, 0, 0, 0.55));
    
    border-radius: 4px 4px 4px 4px;
    padding: 1px 4px;
    z-index: 1;
}