.facsContSourceHint {
    background-color: rgba(180, 180, 180, 0.5);
    border: 1px solid #666666;
    border-top-left-radius: 5px;
    bottom: 0;
    height: 30px;
    position: absolute;
    right: 0;
    width: 100px;
}