.textView > .x-panel-body {
	box-shadow: 0 1px 2px #666666 inset;
	padding: 10px;
}


/* Referenztext, Beispiel Geisterinsel */

.textViewContent .freidi_reference h2 {
    margin-top: 5em;
    margin-bottom: 1em;
    margin-left:-2em;
}

.textViewContent .freidi_reference span.head {
    font-size: 20px;
    letter-spacing: 0.1em;
}

.textViewContent .freidi_reference .stage:first-letter {
    margin-left: -1em;
}

.textViewContent .freidi_reference .stage {
    font-size: 13px;
    margin-top:0.4em;
    margin-bottom:0.4em;
}

.textViewContent .freidi_reference div.indent1 {
    margin-left: 8em;
}

.textViewContent .freidi_reference .indent_1 {
    margin-left: 6.5em;
}

.textViewContent .freidi_reference .indent_2 {
    margin-left: 8.5em;
}

.textViewContent .freidi_reference .indent_3 {
    margin-left: 11em;
}

.textViewContent .freidi_reference .indent_4 {
    margin-left: 14em;
}

.textViewContent .freidi_reference .speaker {
    letter-spacing: 0.1em;
    margin-bottom: 0.4em;
     margin-left: -2em;
}

.textViewContent .freidi_reference .margin_top {
    margin-top: 1em;
}

.textViewContent .freidi_reference .speaker > * {
    letter-spacing: 0em;
}

.textViewContent .freidi_reference .speaker > *[class="term"] {
    letter-spacing: 0.1em;
}

.textViewContent .freidi_reference .center {
    text-align: center;
    width: 540px;
    display: block;
    margin-left: -2em;
}
.textViewContent .freidi_reference .byline {
    margin-bottom:3em;
    letter-spacing: 0.1em;
}

.textViewContent .freidi_reference span.right {
    margin-left: 20em;
}

.textViewContent .freidi_reference div.stage.right {
    margin-top: 0.4em;
    margin-left: 24em;
}

.textViewContent .freidi_reference div.lg {
    margin-bottom: 1.5em;
}

.textViewContent .freidi_reference div.lg.indent_2 .pagebreak {
    margin-left: -9.7em;
}

/* Libretto, Beispiel Wiener Kopie */

.textViewContent .freidi_libretto h2 {
   margin-top: 5em;
   margin-bottom: -2em;
}

/* Libretto KAtx4 */
.textViewContent .freidi_libretto.KAtx4 .titlePart.main span.underline {
    border-bottom: 1px solid #000000;
}

.textViewContent .freidi_libretto.KAtx4 div.l {
    margin-left: 7em;
}

.textViewContent .freidi_libretto.KAtx4 div.lg.indent {
    margin-left: 40px;
}

.textViewContent .freidi_libretto.KAtx4 .act + .caption {
    padding-top: 2em;
    margin-bottom: -2em;
}

.textViewContent .freidi_libretto.KAtx4 p#ext-gen1303 {
    margin-left: 15em;
    margin-bottom: 1.5em;
}

.textViewContent .freidi_libretto.KAtx4 div.teidiv0 ul {
	list-style-type: none;
}

.textViewContent .freidi_libretto.KAtx4 div.teidiv0 ul ul {
    position: relative;
	margin-left: -40px;
    
}

.textViewContent .freidi_libretto.KAtx4 div.teidiv0 ul ul:after {
    position: absolute;
    content: '}';
    font-size: 2em;
    top: 0.2em;
    left: 10.3em;
}

.textViewContent .freidi_libretto.KAtx4 div.teidiv0 ul ul span.role + span.role span {
    position: absolute;
    left: 19em;
    top: 0.7em;
}

.textViewContent .freidi_libretto.KAtx4 div.teidiv0 ul ul li + li span.role + span.role span {
    display: none;
}

/*Sachen, die sonst zu weit rechts und in der falschen Zeile sitzen*/
.textViewContent .freidi_libretto.KAtx4 #d1e4395 {
    display: block;
}

.textViewContent .freidi_libretto.KAtx4 #d1e5120 {
    display: block;
}

.textViewContent .freidi_libretto.KAtx4 #d1e5171 {
    display: block;
}

/* Libretto D-tx2 */

.textViewContent .freidi_libretto.D-tx2 div.titlePage {
    width: 480px;
    letter-spacing: 0.2em;
}

.textViewContent .freidi_libretto.D-tx2 ul p { /* für die CastList-Zeitangabe */
    margin-left: 9.5em;
}

.textViewContent .freidi_libretto.D-tx2 li span.role:first-child { /* für die CastList-Rollennamen */
    letter-spacing: 0.2em;
}

.textViewContent .freidi_libretto.D-tx2 .stage {
    font-size: 12px;
}

.textViewContent .freidi_libretto.D-tx2 .stage.left {
    margin-left: 6em;
}

.textViewContent .freidi_libretto.D-tx2 div.l {
    margin-left: 7em;
}

.textViewContent .freidi_libretto.D-tx2 div.lg {
    margin-left: 0;
}

.textViewContent .freidi_libretto.D-tx2 div.lg.indent {
    padding-left: 3em;
}

.textViewContent .freidi_libretto.D-tx2 div.lg.indent span.pagebreak {
    margin-left: -3em;
}

.textViewContent .freidi_libretto.D-tx2 span.caption {
    width: 480px;
}

.textViewContent .freidi_libretto.D-tx2 div.speaker {
    width: 480px;
}

.textViewContent .freidi_libretto.D-tx2 div.right {
    width: 480px;
}

.textViewContent .freidi_libretto.D-tx2 h2, .textViewContent .freidi_libretto.D-tx2 h3 {
   width: 480px;
}

.textViewContent .freidi_libretto.D-tx2 p.center {
   width: 480px;
}

.textViewContent .freidi_libretto.D-tx2 span.center {
    width: 480px;
}

.textViewContent .freidi_libretto.D-tx2 div.stage.center {
    width: 480px;
}

.textViewContent .freidi_libretto.D-tx2 .expanded {
    letter-spacing: 0.2em;
}

.textViewContent .freidi_libretto.D-tx2 .lb_indent {
    padding-left: 12em;
}

.textViewContent .freidi_libretto.D-tx2 div.teidiv0 ul {
	list-style-type: none;
}

.textViewContent .freidi_libretto.D-tx2 div.teidiv0 ul ul {
    position: relative;
	margin-left: -40px;
    
}

.textViewContent .freidi_libretto.D-tx2 div.teidiv0 ul ul:after {
    position: absolute;
    content: '}';
    font-size: 2em;
    top: 0.2em;
    left: 10.7em;
}

.textViewContent .freidi_libretto.D-tx2 div.teidiv0 ul ul span.role + span.role span {
    position: absolute;
    left: 19em;
    top: 0.7em;
}

.textViewContent .freidi_libretto.D-tx2 div.teidiv0 ul ul li + li span.role + span.role span {
    display: none;
}


@mixin zugleich($right) {
	position: relative;
    right: $right;
    top: -45px;
    
    &:before {
    	background-color: #FFFFFF;
		border: 1px solid #000000;
		border-radius: 0 5px 5px 0;
		border-left: none;
		content: " ";
		display: block;
		height: 80px;
		left: -8px;
		position: absolute;
		top: -30px;
		width: 10px;
    }
}

/* "} zugleich" */
.textViewContent .freidi_libretto {
	&.D-tx2 {
		.stage.it.inline[id$="d1e4405"] {
			@include zugleich(-50px);
		}
		
		.stage.it.inline[id$="d1e6080"] {
			@include zugleich(-180px);
		}
		
	}
	
	&.KAtx4 {
		.stage.it.inline[id$="d1e4378"] {
			@include zugleich(-50px);
		}
		
		.stage.it.inline[id$="d1e4488"] {
			@include zugleich(-50px);
		}
		
		.stage.it.inline[id$="d1e6302"] {
			@include zugleich(-210px);
		}
	}
}

.textViewContent .freidi_libretto div[id$="front.1_div.1"] em {
	font-size: 140%;
}



/* Shared */

.textViewContent {
	
	font-size: 16px;
    display: block;
    overflow-x: hidden;
	
	div.freidi_libretto, div.freidi_reference {
		
		margin-left: 4em;
	
		.teidiv0 > p:first-child {
			margin-left: 15em;
   			margin-bottom: 1.5em;
		}
	}
	
	h1 {
		margin-top: 0;
	}
	
}



.textViewContent .freidi_libretto div.titlePage {
    width: 530px;
    border-bottom: none;
    border-top: none;
}

.textViewContent .freidi_libretto .underline {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

.textViewContent .freidi_libretto .underline.n2 {
    text-decoration: none;
    border-bottom: 3px double #000000;
}

.textViewContent .freidi_libretto .underline .pagebreak {
    border-bottom: none;
}

.textViewContent .freidi_libretto .p-in-sp .pagebreak {
    margin-left: -6em;
}

.textViewContent .freidi_libretto .p-in-sp .pagebreak.inner {
    margin-left: 6em;
}

.textViewContent .freidi_libretto .titlePart {
    line-height: 1.6em;
    margin-bottom: 10px;
}

.textViewContent .freidi_libretto .titlePart.main {
    font-size: 28px;
}

.textViewContent .freidi_libretto span.role {
    margin-left: 0.2em;
}

.textViewContent .freidi_libretto span.role:first-child {
    margin-left: 8em;
}

.textViewContent span.act {
   font-size: 28px;
}

.textViewContent span.scene {
    font-size: 23px;
}

.textViewContent div.stage, .textViewContent span.stage {
    font-style: normal;
    margin-left: 8em;
    font-size: 14px;
    line-height: 1.4em;
    display: inline-block;
}

.textViewContent span.stage.inline {
    margin-left: 0em;
    display: inline;
}

 .textViewContent span.stage.inline span.underline {
	/*border-bottom: none;*/
}

.textViewContent span.caption {
    font-size: 16px;
    text-align: center;
    width: 540px;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.textViewContent div.speaker {
    font-size: 16px;
    text-align: center;
    width: 540px;
    margin-top: 20px;
    margin-bottom: -5px;
    font-weight: normal;
}

.textViewContent div.speaker span.underline {
    border-bottom: 1px solid black;
}

.textViewContent div.p-in-sp {
   margin-left: 6em;
   line-height: 1.4em;
}

.textViewContent div.l {
  margin-left: 6em;
  line-height: 1.4em;
}

.textViewContent span.right {
    margin-left: 17em;
}

.textViewContent div.stage.right {
    margin-left: 17em;
    text-align: left;
}

.textViewContent div.right {
    width: 540px;
}

.textViewContent div.lg {
    margin-top: 0;
}

.textViewContent span.del {
    text-decoration:line-through;
}



.textViewContent span.role {
    font-size: 1.2em;
    font-style: normal;
	text-align: left;
    margin-left: 8em;
	margin-bottom: 5px;
}


.textViewContent div.note {
    display: block;
}

.textViewContent h2, .textViewContent h3 {
   text-align: center;
   width: 540px;
   font-weight: normal;
   font-style: normal;
}

.textViewContent h3 {
   margin-top: 3em;
   margin-bottom: 1em;
}





.textViewContent .sp {
   margin-top: 1em;
   margin-bottom: 1em;
   line-height: 1.4em;
}





.textViewContent p.center {
   font-size: 1.2em;
   width: 540px;
}

.lg[rend~="indent"] {
   display: block;
   margin-left: 8em;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

.textViewContent span.latintype {
	font-style: italic;
}



.textViewContent div.p-in-sp div.stage.inline, .textViewContent div.p-in-sp span.stage.inline {
    font-size: 1.0em;
}



.textViewContent div.stage {
    display: block;
}

.textViewContent span.center {
    margin-left: 0;
    display: block;
    width: 540px;
    text-align: center;
}

.textViewContent div.stage.center {
    width: 540px;
    margin-left: 0;
}

.textViewContent div.inline {
   display:inline;
   margin-left: 0em;
   font-size: 1em;
}

.textViewContent span.setting {
    margin-top: 1em;
    margin-bottom: 1em;
}

.textViewContent div.sic {
    color:fuchsia;
}

/*.textViewContent [n~=2] {
	border-bottom: 1px solid;
}*/


.textViewContent span.strikethrough {
   text-decoration: line-through;
}

.textViewContent span.overwritten {
   text-decoration: line-through;
}


.textViewContent span.place {
    font-size: 70%;
    position: relative;
    top: -0.3em;
}


.textViewContent span.hi {
    letter-spacing: 2px;
    font-weight: normal;
}

*[hand~="#cmvweber"] {
	color: green;
}

*[hand~="#Kopist_2"] {
    color: #606060;
}


.textViewContent .pagebreak, .textviewcontent span.pagebreak, .textViewContent div.pagebreak{
   font-size: 13px;
   background-color: transparent;
   color: #585858;
   font-style: normal;
   font-weight: normal;
   border: none;
   display: block;
   margin-bottom: -1.3em;
   margin-left: 2em;
}

.textViewContent .pagebreak.inner{
    display:block;
    position: absolute;
    left: 0;
    margin-left:6em;
}

/****************/
