/*Variables*/
$pageWidth: 24em;
$lineHeight: 1.5em;
$underlineColor: #333333;

/*Mixin to format a bracket before "jägerpursch" in castlists*/
@mixin jaegerpursch {
	position: relative;
	margin-left: -2.5em;
	
	//bracket before "Jägerpursch"
	&:after {
		position: absolute;
		content: '}';
		font-size: 2em;
		top: 0.5em;
		left: 8.3em;
	}
	
	//placement of "Jägerpursch"
	span.role + blockquote.roleDesc span {
		position: absolute;
		left: 18em;
		top: 1em;
	}
	
	//hide second "Jägerpursch" element (which is empty, but still confuses the layout otherwise
	li + li span.role + span.role span {
		display: none;
	}
}

/*Mixin to provide a bracket after simultaneous speakers */
@mixin zugleich($right) {
	position: relative;
    right: $right;
    top: -45px;
    
    &:before {
    	background-color: #ffffff;
		border: 1px solid #000000;
		border-radius: 0 5px 5px 0;
		border-left: none;
		content: " ";
		display: block;
		height: 80px;
		left: -8px;
		position: absolute;
		top: -30px;
		width: 10px;
    }
}

@mixin zugleich_flex($right, $top, $height, $top2) {
	position: relative;
    right: $right;
    top: $top;
    
    &:before {
    	background-color: #ffffff;
		border: 1px solid #000000;
		border-radius: 0 5px 5px 0;
		border-left: none;
		content: " ";
		display: block;
		height: $height;
		left: -8px;
		position: absolute;
		top: $top2;
		width: 10px;
    }
}

@mixin zugleich_links($left, $top, $height, $top2) {
    left: $left;
    position: relative;
    top: $top;
    
    &:after {
        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 5px 0 0 5px;
        border-right: none;
        content: " ";
        display: block;
        height: $height;
        left: 2px;
        position: absolute;
        top: $top2;
        width: 10px;
    }
}

@mixin handschriften {
    div.lg.indent {margin-left: 2.5em;}
    
    div.l.indent {margin-left: 4.5em;}
    
    .lb_indent {padding-left: 12em;}
    
    .act + .caption {
        padding-top: 2em;
        margin-bottom: -2em;
    }
    
    //cast list styling
    div.teidiv0 ul {
        list-style-type: none;
        
        ul {
        	@include jaegerpursch;
        }
    }
    
    .speaker + br + .l, .speaker + br + .p-in-sp {
        margin-top: -1.5em;
    }
    
    .stage.center {
        margin-left: 2em;
    }
}

@mixin drucke {
        h2,h3 {
    	//width: $pageWidth - 1.5em;
    	margin-left: 2.5em;
    }
    
    div.titlePage {
    	width: $pageWidth - 1.5em;
    	letter-spacing: 0.2em;
    	
    	div.titlePart {
    		position: relative;
    		left: 2em;
    		
    		&.main {
    			margin-left: -2em;
    		}
    	}
    	
    }
    
    div.pagebreak[id$='_p1'] + br.pb + .titlePage {
    	//erstes Titelblatt
    	.titlePart:first-child {
    	
    		margin-top: 3em;
    		margin-bottom: 2em;
    		
    		span.expanded {
    			font-size: 1.8em;
    		}
    	}
    	
    	.titlePart:nth-child(2) {
    		margin-bottom: 6em;
    	}
    	
    	.titlePart:nth-child(3) {
    		font-size: 0.8em;
    	}
    
    	.titlePart:nth-child(4) {
    	}
    
    }
    
    //für die CastList-Zeitangabe
    ul > p {margin-left: 9.5em;}
    
    //für die CastList-Rollennamen
    li span.role:first-child {letter-spacing: 0.2em;}
    
    .stage {
    	font-size: 0.8em;
    	
    	//&.left {margin-left: 6em;}
    	&.center {width: $pageWidth - 1.5em; margin-left: 2em;}
    	
    	name {font-size: 0.85em;}
    }
    
    div.lg, div.l {
    	margin-left: 2em;
    	
    	&.indent {
    		padding-left: 5em;
    		
    		//span.pagebreak {margin-left: -3em;}
    	}
    }
    
    div.l {
    	margin-left: 3em;
    }
    
    .speaker + br + .p-in-sp > br:first-child {
    	display: block;
    }
    
    div.speaker + br + .p-in-sp, div.speaker + br + .l, div.speaker + br + .lg {
    	margin-top: -1em;
    }
    
    
    p.center { width: $pageWidth - 1.5em; }
    span.center {width: $pageWidth - 1.5em;}
    span.caption { width: $pageWidth - 1.5em; }
    div.speaker {
    	width: $pageWidth - 1.5em;
    	letter-spacing: 0.13em;
    	margin-bottom: -0.6em;
    	
    	* {
    		letter-spacing: 0;
    		
    		&.expanded {
    			letter-spacing: 0.5em;
    		}
    	}
    }
    
    a.link_ref {
    	display: none;
    }
    
    div.right {width: $pageWidth - 1.5em;}
    
    .expanded {letter-spacing: 0.2em;}
    
    .antiqua {font-style: italic;}
    
    .lb_indent {padding-left: 12em;}
    
    div.teidiv0 ul {
    	list-style-type: none;
    	
    	ul {
    		@include jaegerpursch;
    	}
    }
    
    span.footnote {
        cursor: pointer;
        margin-left: 0.3em;
    }
}


.textViewContent {
	
	font-size: 16px;
	display: block;
	line-height: 1.4em;
	
	h1 {
		font-size: 2em;
		margin-top: 1em;
		margin-bottom: 0;
		margin-left: 1em;
	}
	
	h2 {
		text-align: left;
		width: $pageWidth / 1.4;
		
		font-weight: normal;
		font-style: normal;
		font-size: 1.4em;
		margin-left: 3em / 1.4;
		margin-bottom: 1.2em;
	}
	
	h3 {
		text-align: center;
		width: $pageWidth / 1.2;
		
		font-weight: normal;
		font-style: normal;
		font-size: 1.2em;
		
		margin-top: 3em;
		margin-bottom: 1em;
	}
	
	div.act {
		margin-left: 2em;
	}
	
	span.noteLabel {
	    display: none;
	}
	
	.sup, sup {
	    font-size: 0.7em; //TODO maybe this can be calculated as 50% line-height?
	    line-height: 1;
	    vertical-align: super;
	}

	.sub, sub {
	    font-size: 0.7em; //TODO maybe this can be calculated as 50% line-height?
	    line-height: 1;
	    vertical-align: sub;
	}
	
	.stage {
		font-style: normal;
		font-size: 0.9em;
		line-height: 1.4em;
		
		color: #555555;
		
		margin-left: 4em;
		margin-bottom: 0.5em;
		//todo: vorher als inline-block
		display: block;
		
		&.right {
			margin-left: 17em;
			text-align: left;
		}
		
		&.center {
			width: $pageWidth + 1em;
			margin-left: 0;
		}
		
		&.inline {
			display: inline;
			margin-left: 0;
			margin-bottom: 0;
		}
	}
	
	span.caption {
		font-size: 1em;
		text-align: center;
		width: $pageWidth;
		display: block;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	
	div.speaker {
		font-size: 1em;
		font-weight: normal;
		text-align: center;
		width: $pageWidth;
		margin-top: 1.3em;
		margin-bottom: -0.3em;
		
		.underline + .underline {margin-left: 0.2em;}
		
		& + br + .stage {
			margin-top: -1.5em;
		}
	}
	
	/*span.name {
		letter-spacing: 0.2em;
	}*/
	
	div.p-in-sp, div.l {
		margin-left: 2em;
		line-height: 1.4em;
	}
	
	.sp {
		margin-top: 1em;
		margin-bottom: 1em;
		line-height: 1.4em;
	}
	
	span.role {
		font-size: 1.2em;
		font-style: normal;
		text-align: left;
		margin-left: 4em;
		margin-bottom: 0.3em;
	}
	
	span.setting {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	
	span.place {
		font-size: 0.7em;
		position: relative;
		top: -0.3em;
	}
	
	div.lg {
		margin-top: 0;
	}
	
	span.right { margin-left: 13em; }
	div.right { width: $pageWidth; }
	
	p.center { width: $pageWidth; }
	span.center {
		margin-left: 0;
		display: block;
		width: $pageWidth;
		text-align: center;
	}
	
	div.inline {
		display: inline;
		margin-left: 0;
		font-size: 1em;
	}
	
	/* textViewContent footnotes as generated by the TEI Stylesheets */
	div.notes {
		display: table;

		div.note {
			display: table-row;
			font-size: smaller;
			//margin-left: 1em;
			//margin-bottom: 1em;
			//text-indent: -1em;
			
			/*div.noteHeading
			{
				margin-top: 9pt;
				border: 0;
				border-top: 1pt;
				border-style: solid;
				padding-top: 6pt;
				font-size: larger;
				font-weight: bold;
			}*/
			
			span.noteLabel {
				display: table-cell;
				font-style: italic;
				text-align: right;
			}
			
			div.noteBody {
				display: table-cell;
				padding-bottom:	1em;
				padding-left: 1em;
			}
		}
	}
	
	span.note {display: none;}

    i.inline-comment {
        position: relative;
        top: -2px;
        margin: 0 3px 0 2px;
        cursor: pointer;
        color: #999999;
        
        &:hover {
            color: #cc3333;
        }
    }

	span.hi {
		letter-spacing: 0.1em;
	}
	span.latintype { font-style: italic; }
	span.strikethrough {
		@include background-image(linear-gradient(top, transparent, transparent 50%, $underlineColor 51%, transparent 52%));
	}

	span.hyphen {margin-left: -0.3em;}
	
	.pagebreak {
		font-size: 12px;
		background-color: transparent;
		color: #585858;
		font-style: normal;
		font-weight: normal;
		border: none;
		display: block;
		margin-bottom: -1.3em;
		//margin-left: 1em;
		position: absolute;
		left: 0.8em;
		
		/*& + .pagebreak {
			margin-top: 2em;
			
			& + .pagebreak {
				margin-top: 4em;
				
				& + .pagebreak {
					margin-top: 6em;
				}
			}
		}*/
				
		/*&.inner {
			display: block;
			position: absolute;
			left: 0;
			margin-left: 2em;
		}*/
	}
	
	br + .pagebreak.inner + br.pb, div + .pagebreak.inner + br.pb {
		display: none;
	}
	
	.teidiv0 > p, .teidiv0 > .listhead {
		margin-left: 4em;
	}
	
	.teidiv0 > ul {
		margin-left: 4em;
		margin-top: -0.5em;
	}
	
	.teidiv0 > div.table {
		margin-left: 4em;
		
		table {
			border-collapse: collapse;
			
			tr.label td {
				@include background-image(linear-gradient(top, #e5e5e5, #cccccc));
				
				&:first-child {
					border-radius: 5px 0 0 5px;
				}
				
				&:last-child {
					border-radius: 0 5px 5px 0;
				}
			}
			
			td {
				padding: 2px 15px 0 5px;
				
			}
		}
	}
	
	.teidiv0 > h2 {
		margin-bottom: 1em !important;
		margin-left: 2.85em;
	}
	
	/*Vorlage für Libretti*/
	.freidi_libretto {
		
		h2 {
			text-align: center;
			width: $pageWidth / 1.4;
		
			font-weight: normal;
			font-style: normal;
			font-size: 1.4em;
		
			margin-bottom: 1.2em;
			margin-left: 0;
		}
		
		line-height: 1.8em;
		
		div.teidiv0 > p:first-child {
			//margin-left: 15em;
			margin-bottom: 1.5em;
		}
		
		/* Überschriften der castList nicht kursiv */
		div.teidiv0 p em {
            font-style: normal;
        }

		
		div.titlePage {
			width: $pageWidth;
			border-bottom: none;
			border-top: none;
		}
		
		div.titlePart {
			line-height: 2em;
			margin-bottom: 0.6em;
			
			&.main {font-size: 1.8em;}
		}
		
		
		
		.underline {
			text-decoration: none;
			
			@include background-image(linear-gradient(bottom, transparent 4px, $underlineColor 4px, transparent 5px));
			
			&.n2 {
				@include background-image(linear-gradient(bottom, transparent 2px, $underlineColor 2px, transparent 3px, transparent 4px, $underlineColor 4px, transparent 5px));
			}
			
			.pagebreak {
				background: none;
			}
		}
		
		/*.p-in-sp .pagebreak {
			margin-left: -2em;
			
			&.inner {
				margin-left: 2em;
			}
		}*/
		
		h2 {
			margin-top: 5em;
			margin-bottom: -2em;
		}
		
		span.role {
			margin-left: 0.2em;
			
			&:first-child {
				margin-left: 4em;
			}
			
			& + blockquote {
				display: inline;
				margin-left: 0;
				
				& > p {
					display: inline;
				}
			}
		}
		
		span.act {font-size: 1.8em;}
		span.scene {font-size: 1.5em;}
		
		div[id$="front.1_div.1"] em {
			font-size: 1.4em;
			position: relative;
			left: 5em;
		}
		
		.teidiv0 > ul {
			margin-left: 0;
			margin-top: 0;
		}
		
		/*individuelle Styles für Handexemplar*/
		&.KA-tx4 {
	       @include handschriften;
	       
	       	/*"zugleich"*/
			.stage.it.inline[id$="d1e4378"] {
				@include zugleich(-50px);
			}
		
			.stage.it.inline[id$="d1e4488"] {
				@include zugleich(-50px);
			}
		
			.stage.it.inline[id$="d1e6302"] {
				@include zugleich(-210px);
			}
			
			//hyphens corrected
			.stage[id$='d1e1963'] .hyphen {
				//fol 6r: Jä-
				margin-left: 0;
			}
			
			.p-in-sp[id$='d1e3275'] .hyphen {
				//fol 10r: Klaus-
				margin-left: 0;
			}
			
			.stage[id$='d1e6763'] .hyphen {
				//fol 20r: Sam-
				margin-left: 0;
			}
			
			h2[id$='d1e8435'] {
			    margin-bottom: 0;
			}
		}
		
		&.L-tx2 {
		    @include handschriften;
		    
		    /*"zugleich"*/
			.stage.it.inline[id$="d1e5176"] {
				@include zugleich_flex(-50px, -50px, 100px, -40px);
			}
			
			.stage.it.inline[id$="d1e5272"] {
				@include zugleich_flex(-50px, -50px, 100px, -40px);
			}

            .stage.it.inline[id$="d1e7431"] {
				@include zugleich_flex(-350px, -50px, 100px, -40px);
			}
		}
		
		&.K-tx6 {
		    @include handschriften;
		    
		    div.l[id$="d1e11012"] {
		        padding-left: 2.7em !important;
		    }
		    
		    div.teidiv0 span.right {
                display: inline-block;
                margin-left: 0;
                position: absolute;
                right: 3em;
            }
            
            /*"zugleich"*/
			.stage.it.inline[id$="d1e4354"] {
				@include zugleich_flex(-350px, -60px, 100px, -40px);
			}
			
			.stage.it.right[id$="d1e4441"] {
				@include zugleich_flex(-100px, -60px, 100px, -40px);
			}
			
			.stage.it.inline[id$="d1e6304"] {
				@include zugleich_flex(-250px, -50px, 100px, -40px);
			}
		}
		
		&.K-tx7 {
		    @include handschriften;
		    
		    /*"zugleich"*/
			.stage.it.inline[id$="d1e3943"] {
				@include zugleich_flex(-350px, -60px, 100px, -40px);
			}
			
			.stage.it.inline[id$="d1e4028"] {
				@include zugleich_flex(-50px, -50px, 110px, -45px);
			}
			
			.stage.it.inline[id$="d1e5764"] {
				@include zugleich_flex(-250px, -50px, 100px, -40px);
			}

		}
		
		&.KA-tx15 {
		    @include handschriften;
		    
			.stage.it.inline[id$="d1e5281"] {
				@include zugleich_flex(-350px, -60px, 100px, -40px);
			}

			.stage.it.inline[id$="d1e7291"] {
				@include zugleich_flex(-250px, -50px, 100px, -40px);
			}

		}
		
		&.KA-tx21 {
		    @include handschriften;
		    
		    div.teidiv0 span.right {
                display: inline-block;
                margin-left: 0;
                position: absolute;
                right: 3em;
            }
            
            p + p {
                margin-top: -2em;
            }

			.stage.it.inline[id$="d1e5340"] {
				@include zugleich_flex(-350px, -60px, 100px, -40px);
			}
			
			.stage.it.inline[id$="d1e7364"] {
				@include zugleich_flex(-250px, -50px, 100px, -40px);
			}
        }
		
		&.K-tx29 {
		    @include handschriften;
		    
		    div.p-in-sp.inline {
                display: block;
                margin-left: 2em;
            }
            
            .stage.it.right[id$="d1e5716"] {
				@include zugleich_flex(-110px, -60px, 100px, -40px);
				
				padding-left: 0.6em;
				text-indent: -0.6em;
			}
			
			.stage.it.right[id$="d1e7822"] {
				@include zugleich_flex(-70px, -70px, 100px, -40px);
			}
		}
		
		/*individuelle Styles für Druck */
		&.D-tx2 {
		      
		    @include drucke;
			
			//"zugleich"
			.stage.it.inline[id$="d1e4405"] {
				@include zugleich(-50px);
			}
		
			.stage.it.inline[id$="d1e6080"] {
				@include zugleich(-180px);
			}
		}
		
		&.VD-tx1 {
		    @include drucke;
		}
		
		&.VD-tx2 {
		    @include drucke;
		}
		
		&.ED-tx {
		    @include drucke;
		    
		    .stage.it[id$="d1e1176"] {
    		    @include zugleich_links(-30px, -75px, 120px, -50px);
			}
			
			.stage.it[id$="d1e1239"] {
    		    @include zugleich_links(-30px, -135px, 280px, -140px);
			}
			
			.stage.it[id$="d1e1783"] {
    		    @include zugleich_links(-30px, -75px, 120px, -50px);
			}
			
			.stage.it[id$="d1e1877"] {
    		    @include zugleich_links(-30px, -75px, 120px, -50px);
			}
		}
		
		&.D-tx1 {
		    @include drucke;
		    
		    .stage.it.inline[id$="d1e4411"] {
				@include zugleich_flex(-50px, -50px, 100px, -40px);
			}
			
			.stage.it.inline[id$="d1e6106"] {
				@include zugleich_flex(-310px, -50px, 100px, -40px);
			}
		}
		
		&.D-tx3 {
		    @include drucke;
		    
		    .stage.it.inline[id$="d1e4367"] {
				@include zugleich_flex(-50px, -60px, 100px, -40px);
			}
			
			.stage.it.inline[id$="d1e6039"] {
				@include zugleich_flex(-310px, -50px, 100px, -40px);
			}
		}
		
		&.Dp-tx1 {
		    @include drucke;
		    
		    .stage.it.inline[id$="d1e4410"] {
				@include zugleich_flex(-40px, -60px, 100px, -40px);
			}
			
			.stage.it.inline[id$="d1e6082"] {
				@include zugleich_flex(-250px, -60px, 110px, -45px);
			}
		}
		
		&.Dp-tx2 {
		    @include drucke;
		    
		    div.teidiv0 span.right {
                display: inline-block;
                margin-left: 0;
                position: absolute;
                right: 3em;
            }
            
            .stage.it.inline[id$="d1e4344"] {
				@include zugleich_flex(-50px, -50px, 100px, -40px);
			}
			
			.stage.it.inline[id$="d1e5988"] {
				@include zugleich_flex(-310px, -50px, 100px, -40px);
			}
		}
		
		&.Dp-tx3 {
		    @include drucke;
		    
		    div.teidiv0 span.right {
                display: inline-block;
                margin-left: 0;
                position: absolute;
                right: 3em;
            }
		    
		    div.speaker b {
                letter-spacing: inherit;
            }
            
            .expanded {
                letter-spacing: 0.15em;
            }
            
            .stage.center {
                width: 29.5em;
            }
            
            div.speaker {
                width: 29.5em;
            }
            
            .stage.it.inline[id$="d1e4544"] {
				@include zugleich_flex(-50px, -50px, 100px, -40px);
			}
			
			.stage.it.inline[id$="d1e6306"] {
				@include zugleich_flex(-310px, -50px, 110px, -45px);
			}
		}
	}
	
	/*Vorlage für Referenztexte*/
	.freidi_reference {
		
		margin-left: 4em;
		margin-bottom: 6em;
		
		h2 {
			text-align: center;
			width: $pageWidth / 1.4;
		
			font-weight: normal;
			font-style: normal;
			font-size: 1.4em;
		
			margin: 5em 0 1em -2em;
		}
		
		span.head {
			font-size: 1.3em;
			letter-spacing: 0.1em;
		}
		
		.stage {
			font-size: 0.9em;
			margin: 0.4em 0 0.4em 0;

			//wofür das?
			//&:first-letter {margin-left: -1em;}
			
			&.right {
				margin: 0.4em 0 0.4em $pageWidth * 3 / 4;
			}
		}
		
		.setting {
			text-indent: -1em;
		}
		
		.indent_1 {margin-left: 2em !important;}
		.indent_2 {margin-left: 4em !important;}
		.indent_3 {margin-left: 6em !important;}
		.indent_4 {margin-left: 8em !important;}
		
		.margin_top {
			margin-top: 2em;
		}
		
		.speaker {
			letter-spacing: 0.1em;
			margin-bottom: 0.2em;
			margin-left: -2em;
			
			& > * {
				letter-spacing: 0em;
				
				&[class='term'] {letter-spacing: 0.1em;}
			}
		}
		
		.teidiv0 > ul {
			margin-left: 0;
			margin-top: 0;
		}
		
		.center {
			text-align: center;
			width: $pageWidth;
			display: block;
			margin-left: -2em;
		}
		
		.byline {
			margin-bottom: 3em;
			letter-spacing: 0.1em;
		}
		
		span.right {
			margin-left: 20em;
		}
		
		div.lg {
			margin-bottom: 1.5em;
			
			//&.indent_2 .pagebreak { margin-left: -9.7em;}
		}
		
		div.teidiv0 > p:first-child {
			//margin-left: 15em;
			margin-bottom: 1.5em;
		}
		
		span.expanded {letter-spacing: 0.25em;}
		
		span.unclear {
            font-weight: normal;
        }
        
        div.titlePage {
			width: $pageWidth;
			border-bottom: none;
			border-top: none;
		}
		
		div.titlePart {
			line-height: 2em;
			margin-bottom: 0.6em;
			
			&.main {font-size: 1.8em;}
		}
		
		span.role {
			margin-left: 0.2em;
			
			&:first-child {
				margin-left: 1em;
			}
			
			& + blockquote {
				display: inline;
				margin-left: 0;
				
				& > p {
					display: inline;
				}
			}
		}

		
		&.RMs-tx8 {
		    @include handschriften;

            span.footnote {
                cursor: pointer;
                margin-left: 0.3em;
            }
		}
		
		&.RMs-tx9 {
		    @include handschriften;

            .center {
                width: 26em;
            }
		}

        &.RMs-tx10 {
		    @include handschriften;
		    
		    div.teidiv0 ul ul {
		          &:after {
                    font-size: 5em;
                    left: 1.7em;
                    line-height: 1.3em;
                    top: 0;
                  }
            }
            
            div.teidiv0 ul ul li blockquote {
                margin-left: 4em;
            }
            
            .stage.it[id$="braced_2"] {
    		    @include zugleich_links(-30px, -115px, 200px, -100px);
			}
		}
		
		&.RMs-tx11 {
		    @include handschriften;
		}
		
		&.RD-tx1 {
		  @include drucke;
		  
            div.speaker {
                margin-bottom: 0;
            }
		}
		
		&.RD-tx2 {
		  @include drucke;
		}

		&.RD-tx3 {
		  @include drucke;

            div.speaker {
                margin-bottom: 0;
                width: 34.5em;
            }
		}

		&.RD-tx4 {
		  @include drucke;
		}

		&.RD-tx5 {
		  @include drucke;
		}

		&.RD-tx6 {
		  @include drucke;
		}

		&.RD-tx7 {
		  @include drucke;
		}

		&.RD-tx12 {
		  @include drucke;
		}

		&.RD-tx13 {
		  @include drucke;

            div.speaker {
                margin-bottom: 0;
            }
            
            div.teidiv0 ul ul {
            
                &:after {
                    font-size: 13em;
                    left: 0.9em;
                }
                
                span.role + blockquote.roleDesc span {
                    top: 6em;
                }
            }
            
            .stage.it.inline[id$="braced_1"] {
				@include zugleich_flex(-350px, -90px, 150px, -75px);
			}
        }

		&.RD-tx14 {
		  @include drucke;

            .stage.it.inline[id$="braced_2"] {
				@include zugleich_flex(-350px, -70px, 110px, -45px);
			}

            .stage.it.inline[id$="braced_3"] {
				@include zugleich_flex(-350px, -70px, 110px, -45px);
			}

            .stage.it.inline[id$="braced_4"] {
				@include zugleich_flex(-350px, -70px, 110px, -45px);
			}
			
            div.speaker {
                margin-bottom: 0;
            }
            
            div.teidiv0 ul ul {
                &:after {
                    font-size: 4em;
                    left: 3.3em;
                    top: 0.3em;
                }
            }
		}

		&.RD-tx15 {
		  @include drucke;
		}

		&.RD-tx16 {
		  @include drucke;
		}

		&.RD-tx17 {
		  @include drucke;
		}
		
	}
	
	//Formatierungen für Dokumentation Datenmodell
	.div0[id$="dataDoc_r1"] {
		
		
		
		
		padding: 4em 2em 2em 2em;
		
		h3 {
			text-align: left;
		}
		
	}
	
	.teidiv0.ediromDoc,  {
		line-height: 1.4em;
		padding-right: 2em;
		
		& > h2 {
			margin-bottom: 0.5em !important;
			margin-top: 1em;
		}
		
		.teidiv1 {
			& > p, & > .teidiv2 {
			 	margin-left: 4em;
			 	
			 	h4 {
			 		margin-bottom: 0.5em;
			 	}
			 	
			 	table {
			 		border-collapse: collapse;
			
					tr:first-child td {
						@include background-image(linear-gradient(top, #e5e5e5, #cccccc));
						font-weight: normal;
						
						/*&:first-child {
							border-radius: 5px 0 0 5px;
						}
				
						&:last-child {
							border-radius: 0 5px 5px 0;
						}*/
					}
			
					td {
						padding: 2px 15px 0 5px;
				
					}
			 	}
			}
		
			h3  {
				line-height: 1.1em;
				margin-bottom: 0.5em;
				margin-top: 1.5em;
				padding-left: 3.3em;
				text-align: left;
				width: 100%;
			}
		}
	}
	
	.musikgenese, .textgenese, .startwindow, .referenceoverview, .audiooverview, .workoverview {
	
	   .teidiv0 {
	       
	       line-height: 1.3em;
	       
	       & p {
	           margin-bottom: 2em;
	       }
	       
	       padding: 20px;
	       
	       & > p {
	           margin: 0 0 2em 0;
	       }
	       
	       & > h2 {
                margin: 0;
                width: unset;
           }
           
           .link_ref {
               color: #999999;
               text-decoration: none;
               cursor: pointer;
               
               &:visited, &:active, &:hover {
                   color: #666666;
               }
           }
           
           h3 {
               width: unset;
               text-align: left;
           }
           
           .citquote {
               margin: 10px auto;
               width: 70%;
               position: relative;
               
               & > p {
                   margin-bottom: 0;
               }
               
               &:before {
                    color: #cccccc;
                    content: '\"';
                    font-size: 50px;
                    font-weight: bold;
                    left: -22px;
                    position: absolute;
                    top: 13px;
                }
                                  
               & + .link_ref {
                   display: block;
                   font-size: 80%;
                   text-decoration: none;
                   text-align: right;
                   margin-right: 20px;
               }
               
           }
           
           .inline .citquote {
           
                display: inline;
                margin-left: 10px !important;
           
               &:before {
                   display: inline-block;
                   left: -10px;
                   position: relative;
                   top: 20px;
                   width: 10px;
                }
                
                & + .link_ref {
                    display: inline;
                    margin: 0;
                }
                
           }
           
           
           span.quote.inline {
                color: #666666;
                
                &:before {
                    color: #999999;
                    content: "\"";
                    font-size: 1.3em;
                    position: relative;
                    top: 0.1em;
                }
                
                &:after {
                    color: #999999;
                    content: "\"";
                    font-size: 1.3em;
                    position: relative;
                    top: 0.1em;
                }
            }
           
           table {
               
               .citquote {
                    
                    margin-top: 0;
                    width: 80%;
                    
                    &:before {
                        top: -7px;
                    }
               
               }
               
               p {
                   margin-top: 0;
               }
               
               
               /*
               td:first-child + td p:first-child {
                   display: none;
               }
               */
           }
           
           li:not(p) {
               margin-bottom: 25px;
           }
        }
    }
    
    
    .musikgenese, .startwindow, .referenceoverview, .audiooverview, .workoverview {
        td:first-child + td p:first-child {
            display: none;
        }
    }
    
    .startwindow {
        .figure img {
            float: right;
            margin-top: -20px;
            width: 200px;
        }
    }
}



/*todo: resolve*/
/*

.textViewContent .freidi_reference .margin_top {
    margin-top: 1em;
}

//problem: static ID reference – impossible to find that one again…
.textViewContent .freidi_libretto.KAtx4 p#ext-gen1303 {
    margin-left: 15em;
    margin-bottom: 1.5em;
}

//Sachen, die sonst zu weit rechts und in der falschen Zeile sitzen
.textViewContent .freidi_libretto.KAtx4 #d1e4395 {
    display: block;
}

.textViewContent .freidi_libretto.KAtx4 #d1e5120 {
    display: block;
}

.textViewContent .freidi_libretto.KAtx4 #d1e5171 {
    display: block;
}

//das arbeitet auf XML, nicht auf HTML (Attribut @rend!)
.lg[rend~="indent"] {
   display: block;
   margin-left: 8em;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}


*/
