.headerView > .x-panel-body {
	box-shadow: 0 1px 2px #333333 inset;
}

.headerViewContent {
	
	font-size: 16px;
	margin: 0 10px;
	
	.property {
		
		clear: both;
		margin: 0 0 10px;
	
		.key {
			text-align: right;
			float: left;
			width: 180px;
			clear: both;
			color: lighten(#000000, 45%);
			margin: 0 0 10px;
			
			.date, .unit {
				display: block;
				font-size: 12px;
				line-height: 12px;
				color: lighten(#000000, 65%);
				font-weight: 100;
			}
		}
		
		.value {
			margin-left: 190px;
		}
	}
	
}