.textView > .x-panel-body {
	box-shadow: 0 1px 2px #666666 inset;
	padding: 0;
}

.textViewContent {
	
	h1 {
		font-weight: bold;
		font-size: 2em;
		line-height: 2em;
		margin-top: 0;
	}
	
	h2 {
		font-weight: bold;
		font-size: 1.6em;
		line-height: 1.6em;
		margin-top: 0.4em;
	}
	
	h3 {
		font-weight: bold;
		font-size: 1.2em;
		font-style: italic;
		line-height: 1.6em;
	}
	
	h4 {
	}
	
	h5, h6 {
		font-size: 1em;
	}
	
	p, div.p { 
		margin-top: 0.3em;
	}
	
	
	/*Generic style*/
		.hide { display: none;}
	
		div.center, p.center {text-align: center;}	
		div.right, p.right {text-align: right;}
		div.left, p.left {text-align: left;}
	
		div.indent1 {margin-left: 1em;}
		div.indent2 {margin-left: 2em;}
		div.indent3 {margin-left: 3em;}	
		div.indent4 {margin-left: 4em;}	
		div.indent5 {margin-left: 5em;}	
		div.indent6 {margin-left: 6em;}
	
		div.signed {text-align: left;}	
		span.foreign {font-style: italic;}
		span.unclear {font-weight: bold;}
		.plain {text-decoration: none;}
	
		p.box {border: 1px solid #000000;}	
		.small {font-size: 0.8em;}
	
		dt {font-weight: bold;}
		span.hi {font-weight: bold;}
		li.headless {display: none;}
		
	//todo	
		span.smallcaps { font-variant: small-caps; }
		span.bold { font-weight: bold; }
		span.italic { font-style: italic; }
		span.capsall { text-transform: uppercase; }
		span.strikethrough { text-decoration: line-through; }
		span.strikedoublethrough { text-decoration: line-through; }
		span.underline { text-decoration: underline; }

		span.underwavyline	{
			text-decoration-line: underline;
			text-decoration-style: wavy;
		}

		span.underdoubleline { text-decoration: underline; }

		span.superscript {
			vertical-align: top;
			font-size: 0.7em;
		}

		span.subscript	{
			vertical-align: bottom;
			font-size: 0.7em;
		}

	
	/*Generic elements*/ 
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	
		img.display {
			margin-top: 0.8em;
			margin-bottom: 0.8em;
			display: block;
		}
	
		.caption {
			font-style: italic;
			display: block;
		}
	
		.floatimage {
			float: left;
			margin-right: 0.4em;
			vertical-align: top;
		}
	
	
	
	/*Letters etc.*/
		div.letter {
			margin: 0.5em 2em;
			border-top: 1px solid #00ff00;
			border-bottom: 1px solid #00ff00;
		}
	
		div.titlePage {
			border-top: 1px solid #000000;
			border-bottom: 1px solid #000000;
			padding: 0.5em 0;
			font-size: 1.1em;
			text-align: center;
		}
	
		.docImprint {
			display: block;
			font-style: italic;
		}
	
		.docDate {
			font-style: italic;
		}
	
		.docTitle {
			display: block;
			font-weight: bold;
			margin: 0.5em 0 1.5em;
		}
	
		.docAuthor {
			font-style: italic;
		}
	
		.byline {
			display: block;
		}
	
		div.dateline {
			text-align :right;
		}
	
	/*Tables*/
		td.label, tr.label td {
			font-weight: bold;
			background-color: #aaaaaa;
		}
		
	/*Line groups and lines*/
	
		div.lg {
			//margin-left: 0.6em;
			margin-bottom: 0.6em;
		}
	
		div.l {
			text-laign: left;
			margin-left: 1em;
		}
	
	/*Quotes*/
		div.blockquote {
			margin: 0.8em;
		}
	
	/*Speeches*/
		div.sp {margin-top: 0.3em;}   
		div.p-in-sp {margin-left: 0em;}	

		//todo: wird das genutzt?
		div.spProse {
			text-indent: -1em;
			margin-left: 1em;	
		}
	
		/*div.speaker { font-weight: bold; }
		span.speaker { font-style: italic; }
		span.actor { font-style: italic; }
		span.camera { font-style: italic; }
		span.caption { font-style: italic; }
		span.role { font-style: italic; }
		span.set { font-style: italic; }
		span.sound { font-style: italic; }
		span.stage { font-style: italic; }
		span.tech { font-style: italic; }
		span.view { font-style: italic; }
		span.mentioned { font-style: italic; }*/
	
	/*Pagebreaks*/
		div.pagebreak {
			
		}
		
		span.pagebreak {

		}
	/*other*/
	

	
}

.annotationViewContent {

    .quote {
        color: #666666;
         &:before {
            color: #999999;
            content: "\"";
            font-size: 1.3em;
            position: relative;
            top: 0.1em;
         }
         
         &:after {
            color: #999999;
            content: "\"";
            font-size: 1.3em;
            position: relative;
            top: 0.1em;
         }
    }
    
}