.textViewContent {
	
	/*Columned text*/
	
	.col {
		background-color: #ffffff;
		margin: 10px 0 0 0;
		padding: 5px;
		position: absolute;
		
		&.col1 {
			color: #000066;
			border: 1px solid #ff0000;
			width: 20%;
			float: left;
		}
		
		&.col2 {
			color: #333333;
			border: 1px solid #000000;
			width: 51%;
			left: 22%;
		}
		
		&.col3 {
			color: #000066;
			border: 1px solid #ff0000;
			width: 24%;
			left: 75%;
			float: right;
		}
	}
	
	.lh-col {
		width: 16%;
		color: #000000;
		margin-top: 2pt;
		margin-right: 10pt;
		padding: 5px;
		background-color: #ffffff;
		float: left;
		font-weight: normal;
	}
	
	.rh-col {
		background-color: #ffffff;
		color: #333333;
		margin: 2pt;
		padding: 5px;
		float: right;
		width: 75%;
		font-weight: normal;
	}
	
	div.stdheader { 
		border-bottom: 1pt solid black; 
	}
	
/*??*/
	.hdr {
		width: auto;
		margin: 0;
		background-repeat: no-repeat;
		overflow: inherit;
		
		h1 { 
			color: red; 
		}

	}
//sind das td???
	.hdr2 {
		width: auto;
		color: #000000;
	
		font-weight: bold;
		background-color: #99CCFF;
		padding-left: 5px;
		padding-bottom: 2px;
		padding-top: 2px;
		padding-right: 5px;
	}

	.hdr3 {
		width: auto;
		color: #000000;
		background-color: #AD06BC;
		padding-left: 5px;
		padding-bottom: 2px;
		padding-top: 2px;
		padding-right: 5px;
		border: 1pt solid #000000;
		//1pt border???
		font-weight: bold;
		font-size: smaller;
	}

	td.sidetext {
		border-right: 1pt solid #000000;
		//1pt border?
	}
	
	td.maintext {
		background-color: #ffffff;
		color: #000000;
		padding-left: 6pt;
		padding-right: 6pt;
	}

/*??*/
	.bannerright {
		position: absolute;
		right: 5px;
		color: #FFFFFF;
	
		font-size: 0.8em;
		font-weight: bold;
		text-decoration: none;
	}
	
	
/*Where do these titles come from?*/	
	h1 {
		&.maintitle {
			margin-left: 100px;
			//font-weight: bold;
			//bottom: 5px;
		}
		
		&.title {
			margin-left: 100px;
			//font-weight: bold;
			//bottom: 5px;
		}
	}
	
	h2 {
		&.institution {
			margin-left: 100px;
		}
		
		&.department {
			margin-left: 100px;
		}
		
		&.subtitle {
			margin-left: 100px;
			//font-weight: bold;
		}
	}
	
	.footer {
		text-align: center;
		font-size: 0.8em;
	}
	
/*Wofür der breadcrumb?*/	
	div.breadcrumb {
		display: inline;
	}
	
	a.breadcrumb {
		color: #ffffff;
		text-decoration: none;
		padding-right: 5px;
		font-weight: bold;
		font-size: 0.8em;
	}
	
	ul.breadcrumb {
		display: inline;
		font-size: 1.1em;
	}
	
	li.breadcrumb, li.breadcrumb-first {
		padding-left: 12px;
		padding-right: 5px;
		display: inline;
		color: #000000;
		background-image: url(/images/rightarrow.gif);
		background-repeat: no-repeat;
		background-position: left;
	}
	
/*Skiplinks und tocontent*/
	.skiplinks {
		color: #ffffff;
		font-weight: bold;
		font-size: 0.8em;
		text-decoration: none;
		padding-right: 15px;
	}	
	
	.tocontent {
		color: #000066;
		display: none;
	}
	
/*??*/
	.framestdlink {
		color: red;
		font-size: 0.8em;
		font-weight: bold;
	}
	
/*navbar in textViewContent???*/
	
	a.navbar {
		
		&:link, &:visited {
			color: #ffffff;
			text-decoration: none;
		}
		
		&:hover {
			color: #ffffff;
			text-decoration: underline;					
		}
	}
	
/*toc in textViewContent???*/	

	ul.toc, li.toc {
		list-style: none;
	}
	
	a.inlinetoc:link, a.inlinetoc:visited {
		color: #7a7a7a;
		font-size: 0.9em;
		text-decoration: none;
	}
	
	a.inlinetoc-this:visited, a.inlinetoc-this:link {
		color: #000000;
		font-weight: bold;
		font-size: 0.9em;
		text-decoration: inderline;
	}
	
	a.inlinetoc-sub:visited, a.inlinetoc-sub:link {
		color: #000000;
		font-weight: normal;
		font-size: 0.9em;
		text-decoration: none;
	}
	
	span.toclist {
		font-size: 0.9em;
		font-weight: bold;
	}
	
	span.toclist-this {
		color: red;
	}
	
	p.toclist0 {
		margin: 0.2em 0 0.3em 0.5em;
		text-indent: -0.5em;
		font-size: 0.8em;
	}
	
	p.toclist1 {
		margin: 0.2em 0 0.2em 1em;
		text-indent: -0.7em;
		font-size: 0.8em;
	}
	
	p.toclist2 {
		margin-left: 1.5em;
		text-indent: -1em;
		font-size: 0.8em;
	}
	
	p.toclist3 {
		margin-left: 2em;
		text-indent: -1.5em;
		font-size: 0.8em;
	}
	
	a.toclist:visited, a.toclist:link {
		font-weight: bold;
		color: #000000;
		text-decoration: none;
	}

	div.tocFront, div.tocBack, div.tocBody {
		border-bottom: 1px solid #000000;
	}
	
/*wovenodd*/

	table.wovenodd td, p.wovenodd {
		background-color: #ffffff;
	}
	
	div.innertext {
		margin: 6pt;
		border: 1pt solid red;
		//border 1pt??
	}
	
	pre, div.pre, div.pre_eg, pre.eg, div.eg {
		clear: both;
		margin-top: 1em;
		margin-bottom: 1em;
		padding: 10px;
		color: #000000;
		line-height: 1.1em;
		font-size: 0.9em;
		white-space: pre;
		border-width: 4px 2px 4px 2px;
		border-style: solid;
		border-color: #000000;
		
	}
	
	div.egXML_valid {
		background-color: #f7f9f6;
		border-color: c5d8bb;
	}
	
	.egXML_feasible {
		background-color: #fff9f3;
		border-color: #ffe1ad;
	}
	
	.egXML_invalid {
		border-color: #ffe7e8;
		background-color: #fdbbac;
	}
	
/*Default Behavior for Notes ??*/
	div.noteHeading {
		margin-top: 0.7em;
		border: none;
		border-top: 1px solid #000000;
		padding-top: 0.5em;
		font-size: 1.2em;
		font-weight: bold;
	}
	
	div.noteBody {
		display: inline;
	}
	
	div.note {
		margin-left: 1em;
		margin-bottom: 0.4em;
		text-indent: -1em;
	}
	
	span.noteLabel {
		font-style: italic;
	}
	
	span.noteNumber {
		&:before {
			content: '[';
		}
		&:after {
			content: ']. ';
		}
	}
	
	span.note {
		font-size: 0.9em;
	}
	
	span.margnote, div.margnote	{
		display: block;
		font-size: smaller;
		clear: right;
		padding: 4pt;
		font-style: italic;
		width: 10%;
		float: right;
		border: 1px solid #00ff00;
		margin: 6pt;
	}
	
	
/* Bibl */
	.listBibl {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	
	.bibl {
		margin-left: 0.5em;
		text-indent: -0.5em;
	}
	
	.biblfree {
		font-size: 0.9em;
		font-style: italic;
		margin-left: 0.5em;
		text-indent: 0.5em;
		margin-bottom: 0.5em;
	}
	
	span.biblLabel {
		font-weight: bold;
		margin-right: 1em;
	}
	
	.citbibl {
		text-align: right;
		font-size: 0.9em;
		
		&:before {content: '(';}
		&:after {content: ')';}
	}
	
/*quotes*/
	.citquote {
		margin-left: 0.8em;
		margin-right: 0.8em;
	}
	
/*other*/	
	div.centerbold {
		text-align: center;
		font-weight: bold;
	}
	
	span.label {
		font-weight: bold;
	}
	
	div.epigraph {
		margin: 1.6em;
	}
	
	div.numbering {
		float: left;
		font-size: 0.8em;
		width: 2em;
	}
	
	div.floatingText_back { border-top: solid black 1pt; }
	div.floatingText_front { border-top: solid black 1pt; }

	div.floatingText {
		margin: 6pt;
		border: 1px solid #000000;
	}
	
	//todo: wofür die hier?
	span.nextLink { font-style: italic; }
	span.previousLink { font-style: italic; }
	span.upLink { font-style: italic; }
	
	//todo: was soll das?
	span.titlem { font-style: italic; }
	span.titlej { font-style: italic; }
	
	span.wordtypeNN, span.wordtypeNNS { color: green; }
	span.wordtypeVVD, span.wordtypeVVN, span.wordtypeVVN, span.wordtypeVVZ, span.wordtypeVVG, span.wordtypeVV { color: red; }

	
}