/***Toolbar Buttons***/

$base-color: #666666;
$label_baseFont: 'Open Sans', Arial, sans-serif;

/*#ediromToolbar {
	@include background(linear-gradient(top, #7d7e7d,#0e0e0e));


	.x-toolbar-item {
		border: none !important;
		border-right: 1px solid #333333;
		background: none;
	}
	
	.x-btn-default-toolbar-small-over {
		@include background(linear-gradient(top, #8d8e8d,#4e4e4e));
	}
	
	.x-btn-default-toolbar-small {
		padding: 1px !important;
		height: 20px !important;
		
		border: none;
		
		button {
			line-height: 13px !important;
		}
	}
	
	.x-btn-inner {
		color: #ffffff !important;
	}
	
		
}
*/
/*** toolbar in object windows ***/
/*.bottomBar {
	padding: 0px 10px !important;
	@include background(linear-gradient(top, #cccccc, #b5b5b5));
}
*/

/*** Button in any toolbar ***/

.toolButton {
	
/*	position: relative !important;
	top: 0 !important;
	left: 0 !important;
	
	margin: 2px 5px !important;
	height: 26px !important;
	width: 26px !important;
	
	
	
	&.x-btn-default-toolbar-small-over {
		@include background(linear-gradient(top, #eeeeee, #cccccc 9px, #888888));
		@include box-shadow(inset 0px 1px 3px #333333);
	}
	
*/	
	&.prev {
		border: none;
		@include background(url('pix/go-previous.png') no-repeat scroll center center transparent);
	}
	
	&.next {
		border: none;
		@include background(url('pix/go-next.png') no-repeat scroll center center transparent);		
	}
	
	&.openAll {
		border: none;
		@include background(url('pix/openAllWindows.png') no-repeat scroll center center transparent);		
	}
	
	&.closeAll {
		border: none;
		@include background(url('pix/closeAllWindows.png') no-repeat scroll center center transparent);		
	}
	
	&.list {
		border: none;
		@include background(url('pix/view-list-details-symbolic.png') no-repeat scroll center center transparent);		
	}
	
	&.over {
		@include box-shadow(inset 0px 1px 3px rgba(60,60,60,0.4));
	}
	
	&.over.x-pressed {
		@include box-shadow(inset 0px 1px 3px rgba(60,60,60,1));
	}
}

/*.pageSpinner {
		
	.pageInputBox {
		height: 20px !important;
		top: 6px !important;
		left: 0px !important;
		padding: 0px !important;
		margin: 0px 2px !important;
		
		position: relative !important;
		display: inline-block;
		
		input {
			font-size: 13px;
			font-family: $label_baseFont;
			border-color: lighten($base-color, 15%) !important;
			height: 18px !important;
			text-align: center !important;
			
			@include border-radius(3px);
			@include background(linear-gradient(top, #e5e5e5, #ffffff));
		}
	}
}

	.zoomSlider .x-slider-thumb {
		@include background(url('pix/slider-thumb.png'));
	}

*/
