body {
	margin: 10px;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

div.section {
	margin: 30px 0px 10px 50px;
	border-top: 2px solid #99bbe8;
}

div.section h1 {
	font-size: 12px;
	font-weight: bold;
	color: #3764a0;
	position: relative;
	top: -25px;
	padding-left: 30px;
}

div.propertyList {
	position: relative;
	top: -20px;
}

div.property {
	clear: both;
	margin-bottom: 5px;	
}

div.key {
	width: 150px;
	float: left;
	margin-right: 20px;
	text-align: right;
	color: #999999;
}

div.value {
	margin-left: 170px;
}

div.objectList {
	position: relative;
	top: -20px;
}

div.object {
	clear: both;
	margin-bottom: 5px;
}

div.name {
	width: 150px;
	float: left;
	margin-right: 20px;
	text-align: right;
}

div.desc {
	color: #666666;
	margin-left: 170px;
}

div.sectionBottomTools {
	text-align: right;
	margin: -10px 0px 20px 0px;
	-moz-user-select: none;
}

div.sectionBottomTools a.button {
	display: inline;
	padding: 3px 10px;
	border: 1px solid #666666;
	border-radius: 5px;
	background-image: -moz-linear-gradient(top, #e5e5e5, #b5b5b5);
	cursor: pointer;
	-moz-user-select: none;
	text-decoration: none;
	color: #000000;
}

div.sectionBottomTools a.button:hover, div.sectionBottomTools a.button:visited {
	color: #000000;
	text-decoration: none;
}

/*******/

table.fullSize {
	position:  relative;
	top: 0px;
	left: 50px;
	right: 10px;
	bottom: 20px;
	min-width: 1000px;
	border: 1px solid #999999;
	box-shadow: 0px 3px 7px rgba(0,0,0,0.5);
	border-collapse: collapse;
}

table.fullSize thead th {
	text-align: left;
	background-color: #e5e5e5;
	padding: 2px 5px;
}

table.fullSize tbody td {
	padding: 2px 5px;
}

table.fullSize tbody td.id {
	color: #666666;
}

div.tableBottomTools {
	margin: 30px 0px 20px 50px;
	-moz-user-select: none;
}

div.tableBottomTools a.button {
	display: inline;
	padding: 3px 10px;
	border: 1px solid #666666;
	border-radius: 5px;
	background-image: -moz-linear-gradient(top, #e5e5e5, #b5b5b5);
	cursor: pointer;
	-moz-user-select: none;
	text-decoration: none;
	margin-right: 10px;
	color: #000000;
}

div.tableBottomTools a.button:hover, div.tableBottomTools a.button:visited {
	color: #000000;
	text-decoration: none;
}

td.tools {

}

td.tools:hover {
	background-color: #99cc99;
	position: relative;
	margin-left: -30px;
	display: block;
}