/* possible workaround for explosiv edirom windows in rwa online. Does not work in Safari!!! but everywhere else.*/
body {
    overflow: clip !important;
}

/* prevents scroll bars in sourceView windows on Windows */
.ediromWindow .sourceView .x-panel-body {
    overflow: hidden !important;
}

/* reenables scroll bar in searchWindows on Windows */
.searchWindow .x-panel-body {
    overflow-y: scroll !important;
}

.textViewContent h1 {
    font-size: 1.3em !important;
}

.navigatorSeparator {
    height: 1px;
    background-color: #aaaaaa;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

.textViewContent .teidiv0 > p, .textViewContent .teidiv0 > .listhead {
    margin-left: 2em !important;
    margin-right: 2em;
}

.textViewContent .teidiv0 > div.note {
    display: block;
    margin-left: 2em;
    margin-right: 2em;
}

#ediromToolbar .x-btn.insetButton.x-btn-default-toolbar-small {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(30%, #c3c3c3), color-stop(65%, #b8b8b8), color-stop(100%, #a0a0a0));
    background-image: -webkit-linear-gradient(top, #dddddd, #c3c3c3 30%, #b8b8b8 65%, #a0a0a0);
    background-image: -moz-linear-gradient(top, #dddddd, #c3c3c3 30%, #b8b8b8 65%, #a0a0a0);
    background-image: -o-linear-gradient(top, #dddddd, #c3c3c3 30%, #b8b8b8 65%, #a0a0a0);
    background-image: linear-gradient(top, #dddddd, #c3c3c3 30%, #b8b8b8 65%, #a0a0a0);
}

span.smufl {
    font-family: 'Bravura';
    font-size: 1.5em;
    display: inline-block;
    vertical-align: 4px;
    padding-left: 2px;
    line-height: 14px;
}

span.musicalSymbol {
    font-family: Bravura;
}

@font-face {
    font-family: 'Bravura';
    src: url('../fonts/bravura/eot/Bravura.eot#') format('eot'),
        url('../fonts/bravura/woff/Bravura.woff') format('woff'),
        url('../fonts/bravura/otf/Bravura.otf') format('opentype'),
        url('../fonts/bravura/svg/Bravura.svg#bravuraregular') format('svg'),
        url('../fonts/bravura/eot/BravuraText.eot#') format('eot'),
        url('../fonts/bravura/woff/BravuraText.woff') format('woff'),
        url('../fonts/bravura/otf/BravuraText.otf') format('opentype'),
        url('../fonts/bravura/svg/BravuraText.svg#bravuraregular') format('svg');
}

.ace_editor {
    bottom: 0;
    left: 0;
    position: absolute !important;
    right: 0;
    top: 0;
}

.facsContEvents {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}

.measure {
    text-align: center;
    z-index: 5;
}

.ediromWindow .annotation {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.3);
    z-index: 10;
}


.annotationTip .x-tip-body {
    overflow: auto;
}

.annotView .contentBox {
    padding-left: 20px;
    padding-right: 20px;
}

/* Fix for Chrome: splitter in Annotation View */
.annotationView .x-splitter-horizontal {
    background-image: -webkit-radial-gradient(50% 50%,ellipse cover,#999,white 50%);
}

.annotationView .x-splitter-vertical {
    background-image: -webkit-radial-gradient(50% 50%,ellipse cover,#999,white 50%);
}

/*text Metadata*/

.headerView .section {
    float: left;
    clear: both;
}

.headerViewContent h1{
  font-size: 18px;
}

.subProperty {
    clear: both;
    margin: 0 0 10px;
    position: relative;
    left: -190px;
}

.subProperty .subkey {
    color: #737373;
    float: left;
    margin: 0 0 10px;
    text-align: right;
    width: 180px;
    font-size: 14px;
}

/*.subProperty .subkey:before {
    color: #737373;
    content:'\2014 ';
}*/

.subProperty .subvalue {
    margin-left: 190px;
    display: block;
    width:100%;
}

.subProperty .subvalue p{
    margin: 4px 0px;
}


.subProperty .subkey .date, .subProperty .subkey .unit, .subProperty .subkey .label {
    color: #a6a6a6;
    display: block;
    font-size: 12px;
    font-weight: 100;
    line-height: 12px;
}

.property .key .date, .property .key .unit, .property .key .label {
    color: #a6a6a6;
    display: block;
    font-size: 12px;
    font-weight: 100;
    line-height: 12px;
}

.address.plain {
    margin: 0.5em 0 0 0;
}

span.underline {
    text-decoration:underline;
}

span.dblunderline {
    border-bottom: 3px double;
}

span.latintype {
    /*@JOA wie sol das aussehen, ist ja schon latin?*/
}

span.smcaps {
    font-variant: small-caps;
}

span.italic {
    font-style: italic;
}

#navigator .navigatorCategory2 {
    padding: 0 0 2px 10px;
}

#navigator .navigatorCategoryTitle2 {
    color: #4d4d4d;
    cursor: pointer;
    font-variant: inherit;
    padding: 0 0 2px;
}

#navigator .navigatorItem2 {
    color: black;
    cursor: pointer;
    padding: 0 0 2px 10px;
}

.hidden {
    display: none;
}

.annotTip {
    width: 100% !important;
}

.annotTip .metaBox {
    width: 100% !important;
}

.annotTip .contentBox {
    width: 100% !important;
}

.annotView .ref {
    color: rgb(146, 64, 92);
}

.annotView .ref:hover {
    color: rgb(146, 64, 92);
    cursor: pointer;
    text-decoration: underline;
}

/* SEARCH WINDOW */

.searchWindow .searchResultDoc {
    margin: 5px;
}

.searchWindow .searchResultDoc .doc {
    margin-top: 10px;
}

.searchWindow .searchResultDoc:first-child .doc {
    margin-top: 0;
}

.searchWindow .searchResultDoc p {
    margin-top: 7px;
    margin-left: 15px;
}

.searchWindow .hit {
    cursor: pointer;
    color: rgb(146, 64, 92)!important;
	font-weight: bold!important;
	background-color: rgb(215, 185, 180)!important;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left:4px;
	padding-right:4px;
	border-radius: 4px;
}

span.searchResult {
    background: -webkit-linear-gradient(center top , #FFE06B, #F39552) repeat scroll 0 0 transparent;
}

div.annotation.combinedHighlight div.annotIcon {
    border: 1px solid white;
}

.searchWindow .x-toolbar {
    background: -webkit-linear-gradient(top, #e5e5e5, #cccccc);
    border-bottom: 1px solid #999999;
}

.searchWindow .x-toolbar .x-form-text {
    border-radius: 5px;
    padding: 0 5px;
    border: 1px solid #999999;
    box-shadow: 0 0 1px #666666 inset;
    font-size: 90%;
}

.searchWindow .taskSquareButton.search {
    background-position: 0 -2px !important;
}

.searchWindow .taskSquareButton.search.over {
    background-position: 0 -2px !important;
    border-color: #999999;
}

.searchWindow .searchResultDoc > .doc {
    padding: 1px 8px;
    border-radius: 3px;
    background: -webkit-linear-gradient(top, #f5f5f5, #e5e5e5);
    box-shadow: 0 1px 2px #666666;
    margin-top: 20px;
}

.searchWindow .searchResultDoc .resultTitle {
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
}

.searchWindow .searchResultDoc .resultCount {
    color: #666666;
    font-size: 80%;
}

.searchWindow .searchResultOverview {
    margin: 0 5px;
    font-weight: bold;
}

.searchWindow .searchResultOverview .num {
    display: inline-block;
    padding: 0 3px;
    border-radius: 3px;
    background: -webkit-linear-gradient(top, #e5e5e5,#cccccc);
}

.searchWindow .searchResult {
    margin-left: 1em;
    margin-right: 1em;
}

.searchWindow .hitP {
    border-left: 3px solid #e5e5e5;
    padding-left: 0px;
    margin-left: 5px;
}

.searchWindow .showMore {
    color: #666666;
    font-size: 85%;
    margin: 5px 0 15px 5px;
    cursor: pointer;
}

#workSwitch {
	padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    top: 9px !important;
    font-size: 14px;
    /*color: rgb(23, 94, 160);*/
}

#workSwitch:hover {
	box-shadow: 1px 2px 4px rgb(23, 94, 160);
	border-radius: 20px;
	}

span#workSwitch-btnInnerEl:before {
	color: rgb(23, 94, 160);
	font-family: FontAwesome;
	content: '\f054 ';
	padding-right: 5px;
	font-size: 10px;
}

.x-menu-item-active {
    background-color: rgb(36, 145, 235) !important;
    color: rgb(161, 209, 247) !important;
}

/* Verovio view */

.renderingViewContent {
    height: 100%;
}
