.ace_editor {
    bottom: 0;
    left: 0;
    position: absolute !important;
    right: 0;
    top: 0;
}

.facsContEvents {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}