body {
    padding: 0;
    margin: 0;
}

#output {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 35px;
}

#toolbar {
    height: 35px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    text-align: center;
    line-height: 2em;
}

#toolbar .button {
    cursor: pointer;
    font-size: 0.8em;
}

.annotTip {
    margin: 10px;
}

.annotTip .metaBox {
    display: none;
}

.annotTip .contentBox {
    overflow: hidden;
    font-family: "Caudex",Arial,sans-serif;
    font-size: 11px;
}

.annotTip .contentBox h1 {
    font-size: 1.3em;
}

.annotIcon {
    fill: #ff000066;
}

.annotIcon.ediromAnnotPrio1 {
    fill: rgba(207, 4, 4, 0.7);
}

.annotIcon.ediromAnnotPrio2{
    fill: rgba(255, 107, 15, 0.7);
}

.annotIcon.ediromAnnotPrio3 {
    fill: rgba(241, 218, 54, 0.7);
}

.lem, .lem *, .supplied, .supplied * {
    fill: grey;
    stroke: grey;
}

.bounding-box, .bounding-box * {
    fill: transparent;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#output .lds-roller {
    display: block;
}

.lds-roller {
    display: none;
    width: 80px;
    height: 80px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #666;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}