#objectToolbar #toolbar_resetFacsimileView {
	background-image: url(../../pix/resetView.png);
	margin-left: 10px;
}

#objectToolbar #toolbar_showBars {
	background-image: url(../../pix/showBars.png);
	display: none;
}

#objectToolbar #toolbar_showAnnotations {
	background-image: url(../../pix/showAnnots.png);
}

#objectToolbar #toolbar_toggleMarking {
	background-image: url(../../pix/toggleBars.png);
	display: none;
}

#objectToolbar #toolbar_toggleAnnotation {
	background-image: url(../../pix/toggleAnnotation.png);
}