*{
/*    border:1px solid gray;*/
    background:transparent
}
body{
   margin-left: auto;
   margin-right:auto;
   max-width:29cm;
/*   overflow: hidden;*/
   background: gray;
   border:green;
   font: 12px arial, helvetica, sans-serif;
}

.meiHead{
    background:white;
    width:16cm;
    height:24.8cm;
/*    padding: 2cm;*/
    border:blue;
/*    margin: 0.5cm 0;*/
}

#facsimile{
    background:white;
    width:16cm;
    height:24.8cm;
/*    padding: 2cm;*/
    border:blue;
    page-break-before: always;
/*    margin: 0.5cm 0;*/
}

.facsimile{
    background:white;
    width:16cm;
    height:24.8cm;
/*    padding: 2cm;*/
    border:blue;
    page-break-before: always;
/*    margin: 0.5cm 0;*/
}

img{
    width:100%;
}

h1{
    font-size:16px;
    font-weight:bold;
}
h2{
    font-size:14px;
    font-weight:bold;
}
h3{
    font-size:12px;
    font-weight:bold;
}

.partMeasureSurfaceTabel{
    display:block;
    clear:both;
    margin: 1cm 0;
}

dt, dd{
    display:table-cell;
    border: 1px solid black;
    min-width:2cm;
    width: auto;
    text-align:right;
    padding: 0.1cm;
}

.header_right{
    float:right;
}

.property {
    clear:both;
}

.property .key{
    float: left;
}

.key{
    font-weight:bold;
}

.key:after{
    content:'\00A0';
}