/*
 *	The variables in this file will only affect the scss files in the 'edirom'-folder,
 *	but not the extJS defaults. If you want to access these variables, use the file 
 *	'extOverride.scss' instead.
 */


@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";


/***Basics***/

$base-color: #666666;
$neutral-color: #eeeeee; 

/***UI Fonts***/

$ui_baseFont: 'Open Sans', 'Courier New', Courier, sans-serif;
$ui_baseFont_size: 14px;
$ui_baseFont_color: #ffffff;
$ui_baseFont_contrast: #999999;

/***Content Fonts***/

$content_baseFont: 'Bitstream', Arial, sans-serif;
$content_baseFont_size: 0.8125rem; /* bei Standardgröße von 16px entspricht das 13px */
$content_baseFont_color: #000000;
$content_baseFont_contrast: #999999;

/***Label Fonts***/

$label_baseFont: 'Bitstream', Arial, sans-serif;
$label_baseFont_size: 12.5px;
$label_baseFont_color: #000000;
$label_baseFont_contrast: #999999;

/*** Navigator Item Fonts ***/

$navigatorItem_fontSize: 0.75rem;
$linkColor: #1354B5;


/***Headings***/

$headerBackgroundsBoxed: true;
$headerBackgroundsTopColor: #87e0fd;
$headerBackgroundsBottomColor: #05abe0;

