@import url(objectViewSwitch.css) screen;

div#objectHeading {
	height: 27px;

	margin: 0px 10px 0px 0px;
	border: 0px;
	padding: 10px;	
	
	-moz-user-select: none;
	display: none;
}

#objectHeading #objectID {
	font-size: 10px;
	display: block;
	color: #999999;
	position: absolute;
	top: 30px;
	left: 15px;
}

#objectHeading #objectTitle {
	font-weight: bold;
	font-size: 14px;
	
	margin-right: 10px;
	border: 0px;
	padding: 5px;	
	clear: both;
}