/** @class Ext.grid.feature.AdvancedGrouping */
//

$grid-advanced-grouped-header-border-color: dynamic($grid-header-border-color);
$grid-advanced-grouped-header-padding: dynamic(7px 4px);
$grid-advanced-grouped-icon-padding: dynamic(0 0 0 17px);
$grid-advanced-grouped-header-background-color: dynamic($neutral-light-color);
