name: pre-release

on:
  push:
    branches: [ develop ]
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches: [ develop, main ]

permissions:
  contents: read

env:
  DOCKER_IMAGE: bwbohl/sencha-cmd

jobs:

  build:
    name: Build Edirom Online
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Chekout repository
      uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      with:
        submodules: 'recursive'
      
    - name: Get short sha
      uses: benjlevesque/short-sha@599815c8ee942a9616c92bcfb4f947a3b670ab0b # v3.0
      id: short-sha
      with:
        length: 7       

    - name: Build Edirom Online from ${{ github.ref }} at ${{ github.sha }}
      run: docker run --rm -v $(pwd):/app -w /app --entrypoint ./build.sh bwbohl/sencha-cmd

    - name: Upload Artifacts to action run
      if: github.repository == 'Edirom/Edirom-Online'
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      with:
        # The name that the artifact will be made available under
        name: EdiromOnline_${{ steps.short-sha.outputs.sha }}.zip
        # The path to retrieve the artifact
        path: ${{ github.workspace }}/build-xar/Edirom-Online-*.xar
        if-no-files-found: warn # 'warn' or 'ignore' are also available, defaults to `warn` 
        #optional retention-days: 1 to 90

    - name: Delete dev-release
      if: ${{ github.event_name == 'push' && github.ref_name == 'develop' }}
      uses: dev-drprasad/delete-tag-and-release@v1.1
      with:
        delete_release: true
        tag_name: dev
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Create dev-release
      if: ${{ github.event_name == 'push' && github.ref_name == 'develop' }}
      uses: ncipollo/release-action@v1.14.0
      with:
        allowUpdates: true
        artifacts: ${{ github.workspace }}/build-xar/Edirom-Online-*.xar
        commit: ${{ github.sha }}
        name: "Development Build"
        prerelease: true
        replacesArtifacts: true
        tag: dev
